<!-- Page content holder -->
<div class="p-51"></div>
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
      class="fa fa-bars mr-2"></i></button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 page-head col-md-11">
        <h2>Vente (s) créée (s) avec succès. </h2>
      </div>
      <div class=" col col-2 col-md-1 cmnpad">
        <div class="dropdown show dropright ">
          <a class="btn btn-secondary dropdown-toggle bell-icon-dd" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../../assets/Icons/bell.png" alt="Notification" class="bell-icon">
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col col-12 col-md-6 ">
        <div class="creat-box sale-box">
          <div class="tick">
            <i class="fas fa-check-circle"></i>
          </div>
          <div class="sale-text">
            Vente (s) créée (s) avec succès.

          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 ">
        <br class="br-nw">
        <div class="creat-box ">
          <div class="option">
            <div class="row">
              <div class="col-2 col-md-1 icon-nw-5">
                <i class="fas fa-file-alt"></i>
              </div>
              <div class="col">
                AFFICHER LA FACTURE
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-2 col-md-1 icon-nw-5">
                <i class="fas fa-plus"></i>
              </div>
              <div class="col">
                CRÉER UNE NOUVELLE VENTE
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-2 col-md-1 icon-nw-5">
                <i class="fas fa-print"></i>
              </div>
              <div class="col">
                LA FACTURE D'IMPRESSION
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-2 col-md-1 icon-nw-5">
                <i class="fas fa-print"></i>
              </div>
              <div class="col">
                IMPRIMER LE BON DE LIVRAISON
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-2 col-md-1 icon-nw-5">
                <i class="fas fa-file"></i>
              </div>
              <div class="col">
                VOIR TOUTES LES VENTES
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="clear-fix">
    <div class="row justify-content-end">

      <div class="col faq col-sm-1  ">
        <div class="faqbox">
          <a href="#">
            <button class="faqbtn">FAQ</button>
          </a>
        </div>
      </div>

      <div class="col supportnum col-sm-2 float-right " style="position:relative">
        <div class="sptnumbox">
          <p>Soutien: 99 99 999 999</p>
        </div>
      </div>
    </div>
  </div>

</div>