<!-- Page content holder -->
<div class="p-51"></div>
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i></button>

  <div class="container-fluid">

    <div class="row">

      <div class="col page-head col-md-10">
        <h2>Devis</h2>
      </div>

      <div class=" col col-2 col-sm-1 cmnpad">
        <div class="dropdown show dropright ">
          <a class="btn btn-secondary dropdown-toggle bell-icon-dd" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../../../assets/Icons/bell.png" alt="Notification" class="bell-icon">
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>



      <div class=" col col-12 col-lr-1 buttons-aic col-md-1 col-sm-3 cmnpad">
        <div class="creer">
          <a routerLink="/add-quote">
            <button class="creerbtn">
              Créer
            </button>
          </a>
        </div>
      </div>


    </div>

    <div class="container-fluid sec-cont">

      <div class="row justify-content-end">
        <div class="col col-12 col-md-4">
          <div class="search-box">
            <input type="text" placeholder="Type to search..">
            <div class="search-icon searchbtn" (click)="searching = true">
              <i style="line-height: inherit" class="fas fa-search"></i>
            </div>

            <div class="cancel-icon crossbtn" *ngIf="searching" (click)="searching = false">
              <i class="fas fa-times"></i>
            </div>

            <div class="search-data"></div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="searching">
        <div class="col">
          <table class="table">
            <tbody>
              <td><input type="text" placeholder="Transaction Number"></td>
              <td><input type="text" placeholder="Client Name"></td>
              <td><input type="text" placeholder="Valid until"></td>
              <td><input type="text" placeholder="Total"></td>

              <td>
                <div class="dropdown dropdown1 show dropright ">
                  <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Status
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Non payé</a>
                    <a class="dropdown-item" href="#">Partiellement payé</a>
                    <a class="dropdown-item" href="#">Brouillon</a>
                    <a class="dropdown-item" href="#">Complété</a>
                    <a class="dropdown-item" href="#">Annuler</a>
                  </div>
                </div>
              </td>
              <td><button><i class="fas fa-search"></i></button></td>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">

          <div class="table-cont">
            <div class=" patients-table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Numéro de transaction</th>
                    <th scope="col">Nom du client</th>
                    <th scope="col">Valable jusqu'au</th>
                    <th scope="col"> Total</th>
                    <th scope="col">Statut</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let item of lstSale" [routerLink]="['/sale-invoice', item.id]">
                    <th scope="row">{{item.transactionNumber}}</th>
                    <td>{{ item.customer?.lastName }}</td>
                    <td>{{ item.transDate | date: 'dd-MM-yyyy' }}</td>
                    <td>{{ item.amount }}</td>
                    <td *ngIf="item?.transStatus == 'Complété'">
                      <span class="status-com status-sign"> {{item?.transStatus}} </span>
                    </td>
                    <td *ngIf="item?.transStatus == 'En attente'" >
                      <span class="status-sign-pen status-sign"> {{item?.transStatus}} </span>
                    </td>
                    <td  *ngIf="item?.transStatus == 'Annulé'">
                      <span class="status-sign-pen status-sign"> {{item?.transStatus}} </span>
                    </td>
                    <td  *ngIf="item?.transStatus == 'Certifé'">
                      <span class="status-sign-pen status-sign"> {{item?.transStatus}} </span>
                    </td>
                    <td>
                      <span class="pdf-icon"> <a  class="fas fa-file-pdf" [routerLink]="['/sale-pdf-report', item?.id]"> </a></span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>

      </div>
      <br>
      <div *ngIf="pagination" class="mt-1">
        <app-pagination [pagination]="pagination" (pageNumberChanged)="loadLst($event)"></app-pagination>
      </div>

    </div>

  </div>

  <br>

  <div class="container-fluid">
    <div class="clear-fix">
      <div class="row justify-content-end querry-box">
        <div>
          <div class="row">
            <div class="col">
              <div class="faqbox">
                <a href="#">
                  <button class="faqbtn">FAQ</button>
                </a>
              </div>



              <div class="sptnumbox">
                <p>Soutien : 99 99 999 999</p>
              </div>
            </div>
          </div>

        </div>



      </div>
    </div>

  </div>



</div>
