
<!-- Page content holder -->
<div class="p-51"></div>
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i></button>

  <div class="container-fluid">
    <div class="row">
        <div class="col col-md-2 col-12">
        
     
            <div class="patient-name-cont">
                <div class="row">
                    <div class="col">
                        <div class="bar-head">
                            <div class="card-head pat-head">
                                Invoice
                            </div>
                        </div>
                        
                   
                    </div> 
                    </div>

                    
                    <br>

                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle filter-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         
                            Filtre
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>

                      <br>
                      

                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10649 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>

                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10648 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10647 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10646 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10645 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10644 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>

                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10643 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>

                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10642 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10641 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10640 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10639 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10638 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>

                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10637 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>

                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10636 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10635 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10634 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10633 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10632 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10631 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10630 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>


                    <div class="row">
                        <div class="col">
                        <div class="patient-name">
                            <span>
                                BL-10629 
                            </span>
                        </div> 
                    </div>

                    <div class="col justify-content-end col-sm-1">
                        <div class="patient-name">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                        
                    </div>
                    </div>

                    


                    
                    
            </div>
            <br>
            
            <div class=" page-num-nw">
                <a href=""><span><i class="fas fa-arrow-left"></i></span></a>
                <a href=""><span class="active-page4">1</span></a>
                <a href=""><span>2</span></a>
                <a href="" ><span class="dots-new">...</span></a>
                <a href=""><span>15</span></a>
               
                <a href=""><span><i class="fas fa-arrow-right"></i></span></a>
            </div>

            <br>

            <div class=" page-num-nw">
               <div class="row">
                   <div class="col col-12">
                       <input value="10" type="number"/>
                   </div>
                   
               </div>
               <div class="row">
                <div class="col col-12">
                    <button class="enter-btn-nw">Enter</button>
                </div>
               </div>
            </div>
            
            <br>

            <div class=" page-num-nw">
                <div class="row">
                    <div class="col col-12">
                        <input  type="text" placeholder="Search Page"/>
                    </div>
                    
                </div>
                <div class="row">
                 <div class="col col-12">
                     <button class="enter-btn-nw">Enter</button>
                 </div>
                </div>
             </div>

        </div>


        <div class="col col-md-7 col-12">

            <br class="br545sas">
            <div class="row">

    

                <div class="col page-head col-md-7">
                    <h2>BL-10649  </h2>
                </div>
          
                <div class=" col col-2 col-md-1 cmnpad" >
                  <div class="dropdown show dropright ">
                    <a class="btn btn-secondary dropdown-toggle bell-icon-dd" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="../Images/Icons/bell.png" alt="Notification" class="bell-icon">
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="col-12  col card-box-nw-col">
                    <div class="card-box-nw-1212">
                       
                    
                        <div class="row">

                            <div class="col">
                                <div class=" card status-nw status-nw1 special-red">
            
                                    <div class="row">
                                        <div class="col">
                                            <span class=" bottom-sen-pad status-title">
                                                Status
                                            </span>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col">
                                            <span class="status-remark-nw bottom-sen-pad card-remark ">
                                                Non payé
            
                                            </span>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                            
                        </div>
            
                        <br class="br545sas">
            
                        
                        <div class="row">
            
                            <div class="col">
                                <div class=" card unpaid-box  unpaid-box1">
            
                                    <div class="row">
                                        <div class="col">
                                            <span class="unpaid-title bottom-sen-pad cards-title">
                                                Total à payer
                                            </span>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col">
                                            <span class="unpaid-num bottom-sen-pad card-num">
                                                97.20 DHS
                                            </span>
                                        </div>
                                    </div>
            
                                  
            
                                </div>
                            </div>
                            
                        </div>
                        <br class="br545sas">
                    </div>
                </div>
                <div class=" col col-12 buttons-aic col-lr-1 col-md-2 col-sm-3 cmnpad">
                    <div class="box1 boxes12 special-red"> 
                        Annuler
                    </div>
                </div>
                <div class=" col col-12 buttons-aic col-lr-1 col-md-2 col-sm-3 cmnpad">
                    <div class="box1 boxes12"> 
                        Imprimer
                    </div>
                </div>

               
          
               
            </div>

            <br>
            <div class="row justify-content-end">
                
                <div class=" col col-12 buttons-aic col-lr-1 col-md-2 col-sm-3 cmnpad">
                    <div class="box1 boxes12"> 
                        Dupliquer
                    </div>
                </div>

               
                <div class=" col col-12 buttons-aic col-lr-1 col-md-5 col-sm-3 cmnpad">
                    <div class="box1 boxes12 "> 
                        Generate Supplier Credite Note
                    </div>
                </div>

               
          
                <div class=" col col-12 col-lr-1 buttons-aic col-md-4 col-sm-3 cmnpad">
                    <div class="creer">
                        <a href="#">
                            <button class="creerbtn">
                                Ajouter un paiement
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col ">
                    <div class="general-info">

                        <div class="row">
                            <div class="col">
                                <div class="general-info-title card-head">
                                    Bon de livraison
                                </div>
                               
                            </div>
                        </div>

                        <div class="row">
                           
                            <div class="col">

                                <div class="row">
                                    <div class="col">
                                        <div class="invoice-name ">
                                            BL-10149
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <div class="invoice-info">

                                            <div class="row">
                                                <div class="col">
                                                    <div class="invoice-info-title">
                                                        Détails du bon de livraison 
                                                    </div>                                                  
                                                </div>
                                            </div>

                                            <br>

                                            <div class="row">
                                                <div class="col">
                                                    <div class="manager-name">
                                                        <span>Directeur :</span>
                                                        
                                                        <span>GHALMANE MOHAMED </span>
                    
                                                    </div>
        
                                                    <div class="sale-date">
                                                       <span>Date de vente:</span>
                                                       <span>2021-02-27</span>
                                                    </div>
        
                                                    <div class="prescription-info">
                                                       <span>
                                                        Avec prescription :</span>
                                                       <span>Non</span>
                                                    </div>
        
                                                    
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span class="invoice-info-title">
                                                    GPM
                                                </span>
                                            </div>
                                        </div>
                                        
                                       
                                        <br>
                                        <div class="row">
                                            <div class="col">
                                                <span>
                                                    N ° 5, Rue Ibnou Katir, Maârif

                                                    CASABLANCA

                                                    MY
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <div class="invoice-table">
                                            <table class="table table-striped">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Produit</th>
                                                    <th scope="col">Original PU	</th>
                                                    <th scope="col">R</th>
                                                    <th scope="col">COULD</th>
                                                    <th scope="col">PPV</th>
                                                    <th scope="col">Qty.</th>
                                                    <th scope="col">VAT</th>
                                                    <th scope="col">Total</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td >VITA C CO 1000 B10 COMP EFFER PM</td>
                                                    <td>15.30</td>
                                                    <td>0%</td>
                                                    <td>15.30</td>
                                                    <td>79.90</td>
                                                    <td>1</td>
                                                    <td>VAT (7.00%)</td>
                                                    <td>15.30</td>
                                                  </tr>
                                                  <tr>
                                                    <td >VITA C CO 1000 B10 COMP EFFER PM</td>
                                                    <td>15.30</td>
                                                    <td>0%</td>
                                                    <td>15.30</td>
                                                    <td>79.90</td>
                                                    <td>1</td>
                                                    <td>VAT (7.00%)</td>
                                                    <td>15.30</td>
                                                  </tr>

                                                  <tr>
                                                    <td >VITA C CO 1000 B10 COMP EFFER PM</td>
                                                    <td>15.30</td>
                                                    <td>0%</td>
                                                    <td>15.30</td>
                                                    <td>79.90</td>
                                                    <td>1</td>
                                                    <td>VAT (7.00%)</td>
                                                    <td>15.30</td>
                                                  </tr>

                                                  <tr>
                                                    <td >VITA C CO 1000 B10 COMP EFFER PM</td>
                                                    <td>15.30</td>
                                                    <td>0%</td>
                                                    <td>15.30</td>
                                                    <td>79.90</td>
                                                    <td>1</td>
                                                    <td>VAT (7.00%)</td>
                                                    <td>15.30</td>
                                                  </tr>

                                                  <tr>
                                                    <td >VITA C CO 1000 B10 COMP EFFER PM</td>
                                                    <td>15.30</td>
                                                    <td>0%</td>
                                                    <td>15.30</td>
                                                    <td>79.90</td>
                                                    <td>1</td>
                                                    <td>VAT (7.00%)</td>
                                                    <td>15.30</td>
                                                  </tr>

                                                  <tr>
                                                    <td >VITA C CO 1000 B10 COMP EFFER PM</td>
                                                    <td>15.30</td>
                                                    <td>0%</td>
                                                    <td>15.30</td>
                                                    <td>79.90</td>
                                                    <td>1</td>
                                                    <td>VAT (7.00%)</td>
                                                    <td>15.30</td>
                                                  </tr>

                                                  <tr>
                                                    <td >VITA C CO 1000 B10 COMP EFFER PM</td>
                                                    <td>15.30</td>
                                                    <td>0%</td>
                                                    <td>15.30</td>
                                                    <td>79.90</td>
                                                    <td>1</td>
                                                    <td>VAT (7.00%)</td>
                                                    <td>15.30</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <div class="subtotal">
                                            <div class="row">
                                                <div class="col">
                                                    Nombre de lignes
                                                </div>
                                                <div class="col subtotal-result">
                                                    7
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    Total quantité	
                                                </div>
                                                <div class="col subtotal-result">
                                                   7
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    Total PPH	
                                                </div>

                                                <div class="col subtotal-result">
                                                   470.27 DHS
                                                </div>
 
                                         </div>
                                         <div class="row " >
                                                    
                                                    <div class="col">
                                                        Total Rabais
                                                    </div>
    
                                                    <div class="col subtotal-result">
                                                        0 DHS
                                                    </div>
                                            </div>

                                            <div class="row " >
                                                    
                                                <div class="col">
                                                    Total PPH À prix réduit
                                                </div>

                                                <div class="col subtotal-result">
                                                    470.27 DHS
                                                </div>
                                        </div>

                                        <div class="row " >
                                                    
                                            <div class="col">
                                                Total Corrigé
                                            </div>

                                            <div class="col subtotal-result">
                                                470.27 DHS
                                            </div>
                                    </div>
                                    </div>
                                </div>
                                

                               

                                

                            </div>
                                
                            </div>



                        </div>



                    </div>


                </div>
            </div>
            <br>
