<!-- Page content holder -->
<div class="p-51"></div>
<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
            class="fa fa-bars mr-2"></i></button>

    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-2 col-12">

                <div class="patient-name-cont">
                    <div class="row">
                        <div class="col">
                            <div class="bar-head">
                                <div class="card-head pat-head">
                                    Produits
                                </div>
                            </div>


                        </div>
                    </div>

                    <br>

                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle filter-btn" href="#" role="button"
                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filtre
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>

                    <br>



                    <div class="row" *ngFor="let item of lstProduct" (click)="viewProduct(item.id)" style="cursor: pointer;">
                        <div class="col">
                            <div class="patient-name ">
                                <span>
                                   {{item.product}}
                                </span>
                            </div>
                        </div>

                        <div class="col justify-content-end col-sm-1">
                            <div class="patient-name">
                                <i class="fas fa-chevron-right"></i>
                            </div>

                        </div>
                    </div>
                </div>


                <br>
                <div class=" page-num-nw">
                    <a href=""><span><i class="fas fa-arrow-left"></i></span></a>
                    <a href=""><span class="active-page4">1</span></a>
                    <a href=""><span>2</span></a>
                    <a href=""><span class="dots-new">...</span></a>
                    <a href=""><span>15</span></a>

                    <a href=""><span><i class="fas fa-arrow-right"></i></span></a>
                </div>

                <br>

                <div class=" page-num-nw">
                    <div class="row">
                        <div class="col col-12">
                            <Input value="10" type="number">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <button class="enter-btn-nw">Entrer</button>
                        </div>
                    </div>
                </div>

                <br>

                <div class=" page-num-nw">
                    <div class="row">
                        <div class="col col-12">
                            <Input type="text" placeholder="Search Page">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <button class="enter-btn-nw">Entrer</button>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col col-md-7 col-12">


                <br class="br545sas">

                <div class="row">

                    <div class="col page-head col-md-11">
                        <h2>{{product?.product}} </h2>
                    </div>


                    <div class=" col col-2 col-sm-1 cmnpad">
                        <div class="dropdown show dropright ">
                            <a class="btn btn-secondary dropdown-toggle bell-icon-dd" href="#" role="button"
                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../../assets/Icons/bell.png" alt="Notification" class="bell-icon">
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12  col card-box-nw-col">
                        <div class="card-box-nw-1212">

                            <div class="row">

                                <div class="col">
                                    <div class=" card assets-box assets-box1">
                                        <br class="br545sas">
                                        <div class="row">
                                            <div class="col">
                                                <p class="assets-title cards-title">
                                                    Actifs
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <p class="assets-num card-num">
                                                    145 DHS
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <p class="assests-remark card-remark">
                                                    Y compris un crédit de : 0 DHS
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <br class="br545sas">

                        </div>
                    </div>



                </div>

                <br>
                <div class="row">


                    <div class=" col col-12 buttons-aic col-lr-1 col-md-2 col-sm-3 cmnpad">
                        <div class="box1 boxes12 special-red">
                            Désactiver
                        </div>
                    </div>

                    <div class=" col col-12 buttons-aic col-lr-1 col-md-4 col-sm-3 cmnpad">
                        <div class="box1 boxes12 ">
                            Suggérer une modification
                        </div>
                    </div>

                    <div class=" col col-12 buttons-aic col-lr-1 col-md-4 col-sm-3 cmnpad">
                        <div class="box1 boxes12 ">
                            Modifier la date d'expiration
                        </div>
                    </div>




                    <div class=" col col-12 col-lr-1 buttons-aic col-md-2 col-sm-3 cmnpad">
                        <div class="creer">
                            <a href="#">
                                <button class="creerbtn">
                                    Éditer
                                </button>
                            </a>
                        </div>
                    </div>


                </div>
                <br>

                <div class="row">
                    <div class="col ">
                        <div class="general-info">

                            <div class="row">
                                <div class="col">
                                    <div class="general-info-title card-head">
                                        Informations générales

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col col-12 col-sm-2 id-pic-column">
                                    <div class="id-pic">

                                    </div>
                                </div>

                                <div class="col ">
                                    <div class="row">
                                        <div class=" col col-12 col-md-6">
                                            <div class="name all-tags">
                                                <span class="name-tag tags">Nom :</span>
                                                <span class="id-name">{{product?.name}}</span>
                                            </div>
                                        </div>
                                        <div class="col col col-12 col-md-6">
                                            <div class="DCI all-tags">
                                                <span class="DCI-tag tags"> DCI :</span>
                                                <span class="id-DCI "> {{product?.dci}} </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class=" col col-12 col-md-6">
                                            <div class="PPV all-tags">
                                                <span class="PPV-tag tags">PPV : </span>
                                                <span class="id-PPV">{{product?.ppv}}</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="prescription all-tags">
                                                <span class="prescription-tag tags">Nécessite une prescription : </span>
                                                <span class="id-prescription">{{product?.prescriptionRequired? 'Si': 'No'}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-12 col-md-6">
                                            <div class="pph all-tags">
                                                <span class="pph-tag tags">PPH : </span>
                                                <span class="id-pph">{{product?.pph}}</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col ">
                        <div class="general-info">

                            <div class="row">
                                <div class="col">
                                    <div class="general-info-title card-head">
                                        Détails
                                    </div>

                                </div>
                            </div>


                            <div class="col">
                                <div class="sub-head1">
                                    Informations générales

                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col col-12 col-md-6 ">
                                        <div class="all-tags">
                                            <span class="tags">Nom :</span>
                                            <span class="prop">{{product?.name}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Code à barre :</span>
                                            <span class="prop">{{product?.barcode}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Catégorie : </span>
                                            <span class="prop">{{product?.category}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Classe thérapeutique : </span>
                                            <span class="prop">{{product?.therapeuticClass}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">DCI :</span>
                                            <span class="prop">{{product?.dci}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Formulaire pharmaceutique :</span>
                                            <span class="prop">{{product?.pharmaceuticalForm}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Laboratoire : </span>
                                            <span class="prop">{{product?.productLabReference}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Varier : </span>
                                            <span class="prop">Non</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Sous-gamme : </span>
                                            <span class="prop">{{product?.subRange}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Zoné : </span>
                                            <span class="prop">{{product?.zone}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Groupe de produits : </span>
                                            <span class="prop"> Non</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Tableau des produits : </span>
                                            <span class="prop">{{product?.productTable}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Nécessite une prescription : </span>
                                            <span class="prop"> {{product?.prescriptionRequired? 'Si': 'No'}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Marché de produits : </span>
                                            <span class="prop">Non</span>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class="sub-head1">
                                    Information boursière

                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">PPH :</span>
                                            <span class="prop">{{product?.pph}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">PPV :</span>
                                            <span class="prop">{{product?.ppv}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">VAT on Sale: </span>
                                            <span class="prop">{{product?.vatOnSales}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Est remboursable :</span>
                                            <span class="prop">{{product?.isRefundable? 'Si': 'No'}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Base de remboursement :</span>
                                            <span class="prop">{{product?.reimbursementBasis}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Min Stock: </span>
                                            <span class="prop">NIL</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Max Stock :</span>
                                            <span class="prop">NIL</span>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div class="sub-head1">

                                    Informations descriptives
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags"> Présentation :</span>
                                            <span class="prop">{{product?.presentation}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Excipients :</span>
                                            <span class="prop">{{product?.excipients}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Adult Dosage :</span>
                                            <span class="prop">{{product?.dosageForAdults}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Dosage for Children :</span>
                                            <span class="prop">NIL</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Indications :</span>
                                            <span class="prop">{{product?.indications}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Contre-indication à la conduite :</span>
                                            <span class="prop">{{product?.drivingContraindications}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">
                                                Contre-indication à l'allaitement :</span>
                                            <span class="prop">{{product?.breastFeedingContraindications}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">
                                                Les indications :</span>
                                            <span class="prop">{{product?.indications}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">
                                                Contre-indication à la conduite :</span>
                                            <span class="prop">{{product?.drivingContraindications}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">
                                                Contre-indication à l'allaitement :</span>
                                            <span class="prop">{{product?.breastFeedingContraindications}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">
                                                Contre-indication de la grossesse :</span>
                                            <span class="prop">{{product?.pregnancyContraindications}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">
                                                Référence du laboratoire de produits :</span>
                                            <span class="prop">{{product?.productLabReference}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Conditionnement :</span>
                                            <span class="prop">NIL</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Monographie :</span>
                                            <span class="prop">{{product?.monograph}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Description :</span>
                                            <span class="prop">{{product?.description}}</span>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>




                </div>


            </div>

            <div class="col col-md-3 card-top1">



                <div class="row">

                    <div class="col">
                        <div class=" card assets-box">

                            <div class="row">
                                <div class="col">
                                    <p class="assets-title cards-title">
                                        Actifs
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <p class="assets-num card-num">
                                        145 DHS
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <p class="assests-remark card-remark">
                                        Y compris un crédit de : 0 DHS
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <br>


                <div class="row">
                    <div class="col">
                        <div class="srtcutbox">
                            <div class="srtcut">
                                <h4>Raccourcis</h4>
                            </div>

                            <div class="srtcutlinks">
                                <ul>
                                    <li>

                                        <a href="#"><i class="fas fa-store"></i> <span>Marketplace</span> </a>
                                    </li>

                                    <li>
                                        <a href="#"> <i class="fas fa-shopping-basket "> </i> <span>Entrez une
                                                vente</span> </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fas fa-file-invoice-dollar"></i> <span>
                                                Entrez un bon de livraison</span> </a>
                                    </li>

                                    <li>
                                        <a href="#"> <i class="fas fa-shopping-cart"></i> <span>
                                                Créer un bon de commande</span></a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fas fa-cash-register"></i> <span> MyPharmacien.ma </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fas fa-file-alt"></i> <span>
                                                Signaler un effet indésirable </span> </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col">
                        <div class="Trace-info-box">
                            <div class="row">
                                <div class="col">
                                    <p class="Trace-info-title">

                                        Informations de traçabilité
                                    </p>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col col-md-5">
                                    Créé par
                                </div>
                                <div class="col">
                                    GHALMANE MOHAMED
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col col-md-5">
                                    Créé sur
                                </div>
                                <div class="col">
                                    2021-02-12 15:43:22
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col col-md-5">
                                    Mis à jour par
                                </div>
                                <div class="col">
                                    GHALMANE MOHAMED
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col col-md-5">
                                    Mise à jour

                                </div>
                                <div class="col">
                                    2021-02-12 15:43:22
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <br>


                <div class="row">
                    <div class="col">
                        <div class="comments-box">
                            <div class="row">
                                <div class="col">
                                    Commentaires

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <input type="text" placeholder="Ajouter un commentaire" class="comment-input">
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <a href="#"><button class="all-comment">Tous les commentaires</button></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>






            </div>





        </div>
    </div>
</div>



<br>





<div class="container-fluid">
    <div class="clear-fix">
        <div class="row justify-content-end">

            <div class="col faq col-sm-1  ">
                <div class="faqbox">
                    <a href="#">
                        <button class="faqbtn">FAQ</button>
                    </a>
                </div>
            </div>

            <div class="col supportnum col-sm-2 float-right " style="position:relative">
                <div class="sptnumbox">
                    <p>Support: 99 99 999 999</p>
                </div>
            </div>
        </div>
    </div>

</div>
<br>





<!-- End demo content -->