<!-- Page content holder -->
<div class="p-51"></div>
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
    <i class="fa fa-bars mr-2"></i>
  </button>

  <div class="container-fluid">
    <div class="row">
      <div class="col page-head col-md-2">
        <h2>Produits
        </h2>
      </div>

      <div class=" col col-2 col-md-1 cmnpad">
        <div class="dropdown show dropright ">
          <a class="btn btn-secondary dropdown-toggle bell-icon-dd" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../assets/images/Icons/bell.png" alt="Notification" class="bell-icon">
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>


      <div class=" col col-12 buttons-aic col-lr-1 col-md-3 col-sm-3 cmnpad">
        <div class="box1 boxes12" (click)="toogleMoreInformation()">
          Afficher {{moreInformation? 'moins': 'plus'}} d'informations
        </div>
      </div>

      <div class=" col col-12 col-lr-1 buttons-aic col-md-3 col-sm-3 cmnpad">
        <div class="box2 boxes12" routerLink="/product-suggestion">

          Historique des suggestions

        </div>
      </div>

      <div class=" col col-12 col-lr-1 buttons-aic col-md-3 col-sm-3 cmnpad">
        <div class="creer">
          <a routerLink="/add-product">
            <button class="creerbtn">
              Suggérer un nouveau produit
            </button>
          </a>
        </div>
      </div>


    </div>

    <div class="container-fluid sec-cont">
      <div class="row justify-content-end">
        <div class="col col-12 col-md-4">
          <div class="search-box">
            <input type="text" placeholder="Type to search.." />
            <div class="search-icon searchbtn" (click)="searching = true">
              <i style="line-height: inherit" class="fas fa-search"></i>
            </div>
            <div class="cancel-icon crossbtn" *ngIf="searching" (click)="searching = false">
              <i class="fas fa-times"></i>
            </div>
            <div class="search-data"></div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="searching">
        <div class="col">
          <table class="table ">
            <tbody>
              <tr>
                <td><input type="text" [(ngModel)]="searchFields.name" placeholder="Last Name"></td>
                <td><input type="text" [(ngModel)]="searchFields.ppv" placeholder="PPV"></td>
                <td><input type="text" [(ngModel)]="searchFields.category" placeholder="Category"></td>
                <td><input type="text" [(ngModel)]="searchFields.pharmaceuticalForm" placeholder="Pharmaceutical Form"></td>
                <td><button (click)="searchItems()"><i class="fas fa-search"></i></button></td>
              </tr>

              <tr>
                <td><input type="text" [(ngModel)]="searchFields.pph" placeholder="PPH"></td>
                <td><input type="text" [(ngModel)]="searchFields.barCode" placeholder="Bar Code"></td>
                <td>
                  <div class="dropdown dropdown1 show dropright ">
                    <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{searchFields.zone? searchFields.zone: 'Zoné'}}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#" (click)="searchFields.zone = 'Non'">Non</a>
                      <a class="dropdown-item" href="#" (click)="searchFields.zone = 'Oui'">Oui</a>

                    </div>
                  </div>
                </td>
                <td>
                  <div class="dropdown dropdown1 show dropright ">
                    <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{searchFields.active? searchFields.active: 'C`est actif'}}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#" (click)="searchFields.active = 'Non'">Non</a>
                      <a class="dropdown-item" href="#" (click)="searchFields.active = 'Oui'">Oui</a>

                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="table-cont">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Catégorie</th>
                  <th scope="col">Formulaire pharmaceutique</th>
                  <th scope="col"> PPV</th>
                  <th scope="col">PPH</th>
                  <th scope="col">Code à barre</th>
                  <th scope="col">Zoné</th>
                  <th scope="col">C'est actif</th>
                  <th scope="col" *ngIf="moreInformation">Laboratoire</th>
                  <th scope="col" *ngIf="moreInformation">DCI</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of lstProduct" (click)="viewProduct(item.id)">
                  <td>{{ item.name }}</td>
                  <td>{{ item.category }}</td>
                  <td>{{ item.pharmaceuticalForm }}</td>
                  <td>{{ item.ppv }}</td>
                  <td>{{ item.pph }}</td>
                  <td>{{ item.barcode }}</td>
                  <td class="Zone-sign" *ngIf="!item.zone">
                    <p class="zone-sign-N">Non</p>
                  </td>
                  <td class="Zone-sign" *ngIf="item.zone">
                    <p class="zone-sign-Y">Oui</p>
                  </td>
                  <td class=" active-sign" *ngIf="!item.active">
                    <p class="active-N">Non</p>
                  </td>
                  <td class=" active-sign" *ngIf="item.active">
                    <p class="active-Y">Oui</p>
                  </td>
                  <td *ngIf="moreInformation">{{ item.laboratory }}</td>
                  <td *ngIf="moreInformation">{{ item.dci }}</td>
                  <td>
                    <a class="fa fa-pencil" [routerLink]="['/add-product', item.id]"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pagination" class="mt-1">
    <app-pagination [pagination]="pagination" (pageNumberChanged)="loadLst($event)"></app-pagination>
  </div>
  <br />
  <div class="container-fluid">
    <div class="clear-fix">
      <div class="row justify-content-end querry-box">
        <div>
          <div class="row">
            <div class="col">
              <div class="faqbox">
                <a href="#">
                  <button class="faqbtn">FAQ</button>
                </a>
              </div>
              <div class="sptnumbox">
                <p>Soutien: 99 99 999 999</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>