<div class="container pop-box1">


  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Fenêtre Pop-up</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="search-boxnw">
              <input type="text" class="search-inpnw">
              <button ><i class="fas fa-search"></i></button>
          </div>
          <br>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Nom</th>
                <th scope="col">Téléphone</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>

                <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>

              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
                <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>

                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn"></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45</td>
              </tr>
              <tr>
                <th scope="row"><input type="radio" class="radio-btn" ></th>
                <td>	Grossiste COPHAMET</td>
                <td>15 52 41 47 45 / 45 24 75 45 12</td>
              </tr>



            </tbody>
          </table>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class=" annuler-btn special-red" >Annuler</button>
        </div>

      </div>
    </div>
  </div>

</div>

<form
  class="client-form"
  id="product-form"
  [formGroup]="addProductForm"
  (ngSubmit)="submitForm()"
>
  <!-- Page content holder -->
  <div class="p-51"></div>
  <div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button
      id="sidebarCollapse"
      type="button"
      class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"
    >
      <i class="fa fa-bars mr-2"></i>
    </button>

    <div class="container-fluid">
      <div class="row">

        <div class="col page-head col-md-9">
            <h2>Suggérer produit</h2>
        </div>

        <div class=" col col-2 col-md-1 cmnpad" >
            <div class="dropdown show dropright ">
              <a class="btn btn-secondary dropdown-toggle bell-icon-dd" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../../../assets/Icons/bell.png" alt="Notification" class="bell-icon">
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

        <div class=" col col-12 col-lr-1 buttons-aic col-md-2 col-sm-3 cmnpad">
            <div class="creer">
                <a href="#">
                    <button class="creerbtn">
                      Sauvegarder
                    </button>
                </a>
            </div>
        </div>

    </div>
      <br />

      <div class="row">
        <div class="col">
          <div class="general-info">
            <div class="row">
              <div class="col">
                <div class="general-info-title">
                  <h5>Informations générales</h5>
                </div>
                <hr />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Nom</div>
                <input id="product-name" formControlName="name" />
              </div>
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Code barre</div>
                <input id="product-barcode" formControlName="barcode" />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Code barre 2</div>
                <input type="text" id="product-barcode2" formControlName="barcode2" />
              </div>
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Catégorie</div>
                <ng-select
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true"
                  [items]="categories"
                  bindValue="id"
                  bindLabel="name"
                  name="categoryId"
                  formControlName="categoryId"
                  [placeholder]="'Catégorie'"
                  [virtualScroll]="true"
                  [appendTo]="'body'"
                  required
                >
                </ng-select>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Classe thérapeutique</div>
                <ng-select
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true"
                  [items]="therapeuticClasses"
                  bindValue="id"
                  bindLabel="name"
                  name="therapeuticClass"
                  formControlName="therapeuticClass"
                  [placeholder]="'Classe thérapeutique'"
                  [virtualScroll]="true"
                  [appendTo]="'body'"
                  required
                >
                </ng-select>
              </div>

              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Forme galénique</div>
                <ng-select
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true"
                  [items]="pharmaceuticalForm"
                  bindValue="id"
                  bindLabel="name"
                  name="galenicForm"
                  formControlName="galenicForm"
                  [placeholder]="'Forme galénique'"
                  [virtualScroll]="true"
                  [appendTo]="'body'"
                  required
                >
                </ng-select>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">DCI</div>
                <ng-select
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true"
                  [items]="dcis"
                  bindValue="id"
                  bindLabel="name"
                  name="dci"
                  formControlName="dci"
                  [placeholder]="'DCI'"
                  [virtualScroll]="true"
                  [appendTo]="'body'"
                  required
                >
                </ng-select>
              </div>

              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Laboratoire</div>
                <input type="text" data-toggle="modal" data-target="#myModal" formControlName="laboratory">
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Gamme</div>
                <ng-select
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true"
                  [items]="ranges"
                  bindValue="id"
                  bindLabel="name"
                  name="range"
                  formControlName="range"
                  [placeholder]="'Gamme'"
                  [virtualScroll]="true"
                  [appendTo]="'body'"
                  required
                >
                </ng-select>
              </div>
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Sous-gamme</div>
                <ng-select
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true"
                  [items]="subRanges"
                  bindValue="value"
                  bindtext="label"
                  name="subRange"
                  formControlName="subRange"
                  [placeholder]="'Sous-gamme'"
                  [virtualScroll]="true"
                  [appendTo]="'body'"
                  required
                >
                </ng-select>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Produit tableau</div>
                <ng-select
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true"
                  [items]="productTables"
                  bindValue="value"
                  bindtext="label"
                  name="productTable"
                  formControlName="productTable"
                  [placeholder]="'Produit tableau'"
                  [virtualScroll]="true"
                  [appendTo]="'body'"
                  required
                >
                </ng-select>
              </div>
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Nécessite une prescription</div>
                <input type="checkbox" class="checkboxnw1 col-1" formControlName="prescriptionRequired">
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Produit marché</div>
                <input type="checkbox" class="checkboxnw1 col-1" formControlName="marketProduct">
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col">
          <div class="general-info">
            <div class="row">
              <div class="col">
                <div class="general-info-title">
                  <h5>Informations du stock</h5>
                </div>
                <hr />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">PPH</div>
                <input type="text" formControlName="pph" />
              </div>
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">PPV</div>
                <input type="text" formControlName="ppv" />
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">TVA sur achat</div>
                <ng-select
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true"
                  [items]="vats"
                  bindValue="value"
                  bindtext="label"
                  name="vatOnPurchase"
                  formControlName="vatOnPurchase"
                  [placeholder]="'TVA sur achat'"
                  [virtualScroll]="true"
                  [appendTo]="'body'"
                  required
                >
                </ng-select>
              </div>
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">TVA sur vente</div>
                <ng-select
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true"
                  [items]="vats"
                  bindValue="value"
                  bindtext="label"
                  name="vatOnSales"
                  formControlName="vatOnSales"
                  [placeholder]="'TVA sur vente'"
                  [virtualScroll]="true"
                  [appendTo]="'body'"
                  required
                >
                </ng-select>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Est remboursable</div>
                <ng-select
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true"
                  [items]="refundables"
                  bindValue="value"
                  bindtext="label"
                  name="isRefundable"
                  formControlName="isRefundable"
                  [placeholder]="'Est remboursable'"
                  [virtualScroll]="true"
                  [appendTo]="'body'"
                  required
                >
                </ng-select>
              </div>
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Base de remboursement</div>
                <input type="text" formControlName="reimbursementBasis">
            </div>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col">
          <div class="general-info">
            <div class="row">
              <div class="col">
                <div class="general-info-title">
                  <h5>Informations descriptives</h5>
                </div>
                <hr />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Présentation</div>
                <input type="text" formControlName="presentation" />
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Excipients</div>
                <input type="text" formControlName="excipients" />
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Posologie pour Adulte</div>
                <input type="text" formControlName="dosageForAdults" />
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Indications</div>
                <input type="text" formControlName="indications" />
              </div>
            </div>


            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Contre-indication conduite</div>
                <div class="dropdown show">
                  <ng-select
                    [ngClass]="'overFlowSelect'"
                    [clearable]="true"
                    [items]="contraindications"
                    bindValue="value"
                    bindtext="label"
                    name="drivingContraindications"
                    formControlName="drivingContraindications"
                    [placeholder]="'Contre-indication conduite'"
                    [virtualScroll]="true"
                    [appendTo]="'body'"
                    required
                  >
                  </ng-select>
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Contre-indication allaitement</div>
                <div class="dropdown show">
                  <ng-select
                    [ngClass]="'overFlowSelect'"
                    [clearable]="true"
                    [items]="contraindications"
                    bindValue="value"
                    bindtext="label"
                    name="breastFeedingContraindications"
                    formControlName="breastFeedingContraindications"
                    [placeholder]="'Contre-indication allaitement'"
                    [virtualScroll]="true"
                    [appendTo]="'body'"
                    required
                  >
                  </ng-select>
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Contre-indication grossesse </div>
                <div class="dropdown show">
                  <ng-select
                    [ngClass]="'overFlowSelect'"
                    [clearable]="true"
                    [items]="contraindications"
                    bindValue="value"
                    bindtext="label"
                    name="pregnancyContraindications"
                    formControlName="pregnancyContraindications"
                    [placeholder]="'Contre-indication grossesse'"
                    [virtualScroll]="true"
                    [appendTo]="'body'"
                    required
                  >
                  </ng-select>
                </div>
              </div>
            </div>

            <br>

            <div class="row">
                <div class="col col-12 ">
                    <div class="Sub-Head">Référence Labo du Produit </div>
                    <input type="text" formControlName="productLabReference">
                </div>

            </div>

            <br>
            <div class="row">
                <div class="col col-12 ">
                    <div class="Sub-Head">Conditionnement </div>
                    <input type="text" formControlName="packaging">
                </div>

            </div>

            <br>
            <div class="row">
                <div class="col col-12 ">
                    <div class="Sub-Head">Monograph </div>
                    <textarea class="textarea1nw col-12" rows="4" formControlName="monograph"></textarea>
                </div>

            </div>

            <br>
            <div class="row">
                <div class="col col-12 ">
                    <div class="Sub-Head">Description </div>
                    <textarea class="textarea1nw col-12"  rows="4" formControlName="description"></textarea>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <div class="container-fluid">
    <div class="clear-fix">
      <div class="row justify-content-end">

      <div class="col faq col-sm-1  " >
        <div class="faqbox" >
          <a href="#">
            <button class="faqbtn">FAQ</button>
          </a>
        </div>
      </div>

      <div class="col supportnum col-sm-2 float-right " style="position:relative"  >
        <div class="sptnumbox">
          <p>Soutien : 99 99 999 999</p>
        </div>
      </div>
    </div>
    </div>

  </div>
  </div>
</form>


