<form class="client-form" id="client-form" [formGroup]="addClientForm" (ngSubmit)="submitForm()">

  <input type="hidden" id="client_id" formControlName="id" />
  <!-- Page content holder -->
  <div class="p-51"></div>
  <div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
      <i class="fa fa-bars mr-2"></i>
    </button>

    <div class="container-fluid">
      <div class="row">
        <div class="col page-head col-md-6">
          <h2>Créer un nouveau client</h2>
        </div>

        <div class="col col-2 col-md-1 cmnpad">
          <div class="dropdown show dropright">
            <a class="btn btn-secondary dropdown-toggle bell-icon-dd" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="../../../assets/Icons/bell.png" alt="Notification" class="bell-icon" />
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>

        <div class="col col-12 col-lr-1 buttons-aic col-md-3 col-sm-3 cmnpad">
          <div class="creer">
            <a href="#">
              <button class="creerbtn creerbtn222">
                Sauvegarder & Nouveau
              </button>
            </a>
          </div>
        </div>
        <div class="col col-12 col-lr-1 buttons-aic col-md-2 col-sm-3 cmnpad">
          <div class="creer">
            <a href="#">
              <button class="creerbtn">Sauvegarder</button>
            </a>
          </div>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col">
          <div class="general-info">
            <div class="row">
              <div class="col">
                <div class="general-info-title">
                  <h5>Informations générales</h5>
                </div>
                <hr />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Gestionnaire</div>

                <ng-select 
                  id="client-manager" 
                  [ngClass]="'overFlowSelect'"
                  [clearable]="true" 
                  [items]="managers" 
                  bindValue="id"
                  bindLabel="name" 
                  name="manager" 
                  formControlName="manager" 
                  [placeholder]="'Gestionnaire'" 
                  [virtualScroll]="true"
                  [appendTo]="'body'">
              </ng-select>
                      <div *ngIf=" f.manager.errors" class="invalid-feedback">
                        <div *ngIf="f.manager.errors.required">Gestionnaire is required</div>
                      </div>

              </div>

              <div class="col col-12 col-md-6">

                <div class="Sub-Head">Nom</div>
                <input required id="client-lastName" formControlName="lastName"   class="form-control"
                [ngClass]="{ 'is-invalid':  f.lastName.errors }" />

                <div *ngIf=" f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">Nom is required</div>
              </div>

              </div>
            </div>
            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">CIN</div>
                <input type="text" id="client-cin" formControlName="cin"  (keypress) = "onClientKeyPress($event)" />
              </div>
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Type</div>
                                
                <ng-select [ngClass]="'overFlowSelect'" [clearable]="true" [items]="types" bindValue="id"
                  bindLabel="name" name="type" formControlName="type" [placeholder]="'type'" [virtualScroll]="true"
                  [appendTo]="'body'">
                </ng-select>

              </div>
            </div>
            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">CNSS</div>
                <input type="text" id="client-cnn" formControlName="cnss" />
              </div>
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">E-mail</div>
                <input type="text" id="client-email" formControlName="email" />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Téléphone</div>
                <input type="text" id="client-phone" formControlName="phone" />
              </div>
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Médecin traitant</div>

                <ng-select [ngClass]="'overFlowSelect'" [clearable]="true" [items]="doctors" bindValue="value"
                  bindtext="label" name="type" formControlName="type" [placeholder]="'type'" [virtualScroll]="true"
                  [appendTo]="'body'">
                </ng-select>

              </div>
            </div>
            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Plafond de crédit</div>
                <input type="text" formControlName="creditLimit" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col">
          <div class="general-info">
            <div class="row">
              <div class="col">
                <div class="general-info-title">
                  <h5>Informations de l’organisme</h5>
                </div>
                <hr />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Organisme</div>
                <ng-select [ngClass]="'overFlowSelect'" [clearable]="true" [items]="organizations" bindValue="id"
                  bindLabel="name" name="organization" formControlName="organization" [placeholder]="'organization'"
                  [virtualScroll]="true" [appendTo]="'body'">
                </ng-select>
                
              </div>

              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Numéro d'immatriculation</div>
                <input type="text" formControlName="registerationNumber" />
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col col-12 col-md-6">
                <div class="Sub-Head">Numéro d'affiliation</div>
                <input type="text" formControlName="affiliateNumber" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col">
          <div class="general-info">
            <div class="row">
              <div class="col">
                <div class="general-info-title">
                  <h5>Adresse</h5>
                </div>
                <hr />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Adresse</div>
                <input type="text" formControlName="address" />
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Ville</div>
                <input type="text" formControlName="city" />
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Code postal</div>
                <input type="text" formControlName="postalCode" />
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Pays</div>
                <div class="dropdown show">
                  <ng-select [ngClass]="'overFlowSelect'" [clearable]="true" [items]="countries" bindValue="id"
                  bindLabel="name" name="country" formControlName="country" [placeholder]="'country'" [virtualScroll]="true"
                    [appendTo]="'body'">
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col">
          <div class="general-info">
            <div class="row">
              <div class="col">
                <div class="general-info-title">
                  <h5>Informations descriptives</h5>
                </div>
                <hr />
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col col-12">
                <div class="Sub-Head">Description</div>
                <textarea rows="4" class="textarea1nw"></textarea>
              </div>
            </div>

            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
