<div class="bg-imageNW">

</div>
<div class="row all-rowsss">
   
   
    <div class="col col-12 col-md-4">

        <div class="row">
            <div class="col col-5">
                <div class="comp-logo">
                    <img src="../../assets/images/logogreenfull.png" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-3 invisCol">
                
            </div>
            <div class="col col-md-9">
                    <div class="row justify-content-center">
                                <div class="col col-12 col-md-12 my-auto">
                                    <div class="formsnw align-middle">
                                        <form id="connex_form" class="form-auth-small m-t-md ajax-form-login login_form" (ngSubmit)="login();" #f="ngForm">
                                            <div class="general-Info-nw11">Sijil Pharma</div>
                                            
                                            <br>
                                            <div class="mail-info tag-cont-all">
                                                <div class="mail-tag tag-all">Email Id</div>
                                                <!-- <input type="email" > -->

                                                <input 
                                                    type="text" 
                                                    class="form-control input" 
                                                    id="username" 
                                                    name="username" 
                                                    id="username"
                                                    [(ngModel)]="loginModel.username"
                                                    #username="ngModel">

                                            </div>
                                            <br>
                                            <div class="mail-info tag-cont-all">
                                                <div class="pass-tag tag-all">Password</div>
                                                <input 
                                                    type="password"
                                                    required
                                                    name="password"
                                                    maxlength="11"
                                                    id="password"
                                                    [(ngModel)]="loginModel.password"
                                                    #password="ngModel"
                                                    class="input">  
                                                <a href="#"><div class="forg-pass">Avez-vous oublié votre mot de passe?</div></a>
                                            </div>
                                            <br>
                                            <div class="mail-info tag-cont-all">
                                                <input type="checkbox" class="checkbox-nw">
                                                <div class="check-tag tag-all">Se souvenir de moi</div>
                                            </div>
                                            <br>
                                            <button id="submit" type="submit" class="connecter">Se connecter</button>
                                            <!-- <button class="connecter">Se Connecter</button> -->
                                        </form>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>
      

      
    </div>
    <div class="col col-12 col-md-8">
        <div class="row justify-content-end">

            <div class="col col-md-2">
                <div class="tech-sprt">
                    <button class="sprt-btn"> 
                        <div class="row">
                        <div class="col col-3">
                            <div class="headphnic">
                                <i class="fas fa-headphones"></i>
                            </div>
                            
                        </div>
                        <div class="col">
                            <div class="sprt">
                                Support
                            </div>
                           
                        </div>
                    </div>
                </button>
                </div>
            </div>

            <div class="col col-md-3">
                <div class="tech-sprt">
                    <button class="sprt-btn1"> 
                        <div class="row">
                        <div class="col col-3">
                            <div class="headphnic">
                                <i class="fas fa-phone-alt"></i>
                            </div>
                            
                        </div>
                        <div class="col">
                            <div class="sprt">
                                05 30 500 500
                            </div>
                           
                        </div>
                    </div>
                </button>
                </div>
            </div>

            <div class="col col-md-12 invisCol">
                <div class="all-row"></div>
            </div>
        </div>
    </div>
</div>