<!-- Page content holder -->
<div class="p-51"></div>
<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i></button>

    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-2 col-12">

                <div class="patient-name-cont">
                    <div class="row">
                        <div class="col">
                            <div class="bar-head">
                                <div class="card-head pat-head">
                                    Invoice
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle filter-btn" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filtre
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>

                    <br>

                    <div class="row" *ngFor="let item of lstSale" (click)="viewSale(item.id)" style="cursor: pointer;">
                        <div class="col">
                            <div class="patient-name ">
                                <span>
                                    {{item.sale}}
                                </span>
                            </div>
                        </div>

                        <div class="col justify-content-end col-sm-1">
                            <div class="patient-name">
                                <i class="fas fa-chevron-right"></i>
                            </div>

                        </div>
                    </div>

                    <br>
                    <div class=" page-num-nw">
                        <div *ngIf="pagination" class="mt-1">
                            <app-pagination [pagination]="pagination" (pageNumberChanged)="loadLst($event)"></app-pagination>
                        </div>
                    </div>

                    <br>

                    <div class=" page-num-nw">
                        <div class="row">
                            <div class="col col-12">
                                <Input value="10" type="number">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <button class="enter-btn-nw">Entrer</button>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class=" page-num-nw">
                        <div class="row">
                            <div class="col col-12">
                                <Input type="text" placeholder="Search Page">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <button class="enter-btn-nw">Entrer</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col col-md-7 col-12">
                    <br class="br545sas">

                    <div class="row">
                        <div class="col page-head col-md-11">
                            <!-- <h2>{{sale?.sale}} </h2> -->
                        </div>

                        <div class=" col col-2 col-sm-1 cmnpad">
                            <div class="dropdown show dropright ">
                                <a class="btn btn-secondary dropdown-toggle bell-icon-dd" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../Images/Icons/bell.png" alt="Notification" class="bell-icon">
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-12  col card-box-nw-col">
                            <div class="card-box-nw-1212">
                                <div class="row">
                                    <div class="col">
                                        <div class=" card status-nw status-nw1">
                                            <div class="row">
                                                <div class="col">
                                                    <p class=" status-title">
                                                        Statut
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <span class="status-remark-nw bottom-sen-pad card-remark">
                                                        Complété
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <br class="br545sas">

                                <div class="row">

                                    <div class="col">
                                        <div class=" card assets-box assets-box1">

                                            <div class="row">
                                                <div class="col">
                                                    <span class="assets-title bottom-sen-pad cards-title">
                                                        Restant à payer par Client

                                                    </span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <span class="assets-num bottom-sen-pad card-num">
                                                        0 DHS
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <span class="assests-remark bottom-sen-pad card-remark">
                                                        Livré
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <br class="br545sas">
                            </div>
                        </div>
                        <div class=" col col-12 buttons-aic col-lr-1 col-md-2 col-sm-3 cmnpad">
                            <div class="box1 boxes12 special-red">
                                Annuler
                            </div>
                        </div>

                        <div class=" col col-12 buttons-aic col-lr-1 col-md-2 col-sm-3 cmnpad">
                            <div class="box1 boxes12 special-green">
                                Imprimer
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="row justify-content-end">



                        <div class=" col col-12 buttons-aic col-lr-1 col-md-3 col-sm-3 cmnpad">
                            <div class="box1 boxes12">
                                Imprimer le reçu
                            </div>
                        </div>

                        <div class=" col col-12 buttons-aic col-lr-1 col-md-2 col-sm-3 cmnpad">
                            <div class="box1 boxes12">
                                Dupliquer
                            </div>
                        </div>




                        <div class=" col col-12 buttons-aic col-lr-1 col-md-4 col-sm-3 cmnpad">
                            <div class="box1 boxes12">
                                Générer un retour en vente
                            </div>
                        </div>


                    </div>

                    <br>

                    <div class="row">
                        <div class="col ">
                        <div class="general-info"> 
                                <div class="row">
                                    <div class="col">
                                        <div class="general-info-title card-head">
                                            Facture
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="invoice-name">
                                                    {{sale?.transactionNumber}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="invoice-info ">
                                                    <div class="row">
                                                        <div class="col">
                                                            <span class="invoice-info-title">Invoice Information</span>
                                                        </div>
                                                    </div>

                                                    <br>

                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="manager-name">
                                                                <span>Manager :</span>

                                                                <span>GHALMANE MOHAMED </span>

                                                            </div>

                                                            <div class="sale-date">
                                                                <span>Date de vente :</span>
                                                                <span>{{sale?.dos}}</span>
                                                            </div>

                                                            <div class="prescription-info">
                                                                <span>Avec prescription :</span>
                                                                <span>No</span>
                                                            </div>

                                                            <div class="quote">
                                                                <span>GPM N ° :</span>
                                                                <span>NIL</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col">
                                                <div class="invoice-table">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Produit</th>
                                                                <th scope="col">Original PU </th>
                                                                <th scope="col">R</th>
                                                                <th scope="col">POUVAIT</th>
                                                                <th scope="col">Qty.</th>
                                                                <th scope="col">VAT</th>
                                                                <th scope="col">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>VITA C CO 1000 B10 COMP EFFER PM</td>
                                                                <td>15.30</td>
                                                                <td>0%</td>
                                                                <td>15.30</td>
                                                                <td>1</td>
                                                                <td>VAT (7.00%)</td>
                                                                <td>15.30</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col">
                                                <div class="subtotal">
                                                    <div class="row">
                                                        <div class="col">
                                                            Subtotal HT
                                                        </div>
                                                        <div class="col subtotal-result">
                                                            14.30
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col">
                                                            VAT
                                                        </div>
                                                        <div class="col subtotal-result">
                                                            1.00
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col">
                                                            Total discount
                                                        </div>

                                                        <div class="col subtotal-result">
                                                            0 DHS
                                                        </div>


                                                    </div>
                                                    <div class="row ">

                                                        <div class="col">
                                                            Total
                                                        </div>

                                                        <div class="col subtotal-result">
                                                            15.30 DHS
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>


                    <div class="row">
                        <div class="col">
                            <div class="sale-payment">
                                <div class="row">
                                    <div class="col">
                                        <div class="p">
                                            Paiements de la vente
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">

                                        <div class="invoice-table-box">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Dated</th>
                                                        <th scope="col">Organisation</th>
                                                        <th scope="col">Montant</th>
                                                        <th scope="col">Moyens de paiement</th>
                                                        <th scope="col">Référence</th>
                                                        <th scope="col">Noter</th>
                                                        <th scope="col">Statut</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>28-02-2021</td>
                                                        <td>Nil</td>
                                                        <td>15.30</td>
                                                        <td>Species</td>
                                                        <td>NIL</td>
                                                        <td>NIL</td>
                                                        <td><span class="status-com status-sign"> Compléter </span></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>


                </div>

                <div class="col col-md-3 card-top1">
                    <div class="row">

                        <div class="col">
                            <div class=" card status-nw">

                                <div class="row">
                                    <div class="col">
                                        <p class=" status-title">
                                            Statut
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <p class="status-remark-nw card-remark">
                                            Complété
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <br>


                    <div class="row">

                        <div class="col">
                            <div class=" card assets-box">

                                <div class="row">
                                    <div class="col">
                                        <span class="assets-title bottom-sen-pad cards-title">
                                            Restant à payer par Client

                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <span class="assets-num bottom-sen-pad card-num">
                                            0 DHS
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <span class="assests-remark bottom-sen-pad card-remark">
                                            Livré
                                        </span>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                    <br>

                    <div class="row">
                        <div class="col">
                            <div class="srtcutbox">
                                <div class="srtcut">
                                    <h4>Raccourcis</h4>
                                </div>

                                <div class="srtcutlinks">
                                    <ul>
                                        <li>

                                            <a href="#"><i class="fas fa-store"></i> <span>Marketplace</span> </a>
                                        </li>

                                        <li>
                                            <a href="#"> <i class="fas fa-shopping-basket "> </i> <span>Entrez une
                                                    vente</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fas fa-file-invoice-dollar"></i> <span>Entrez un bon
                                                    de
                                                    livraison</span> </a>
                                        </li>

                                        <li>
                                            <a href="#"> <i class="fas fa-shopping-cart"></i> <span> Créer un bon de
                                                    commande</span></a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fas fa-cash-register"></i> <span> MyPharmacien.ma
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fas fa-file-alt"></i> <span> Signaler un effet
                                                    indésirable</span> </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col">
                            <div class="Trace-info-box">
                                <div class="row">
                                    <div class="col">
                                        <p class="Trace-info-title">
                                            Informations de traçabilité
                                        </p>
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col col-md-5">
                                        Créé par
                                    </div>
                                    <div class="col">
                                        GHALMANE MOHAMED
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col col-md-5">
                                        Créé sur
                                    </div>
                                    <div class="col">
                                        2021-02-12 15:43:22
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col col-md-5">
                                        Mis à jour par
                                    </div>
                                    <div class="col">
                                        GHALMANE MOHAMED
                                    </div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col col-md-5">
                                        Mise à jour
                                    </div>
                                    <div class="col">
                                        2021-02-12 15:43:22
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid">
        <div class="clear-fix">
            <div class="row justify-content-end">

                <div class="col faq col-sm-1  ">
                    <div class="faqbox">
                        <a href="#">
                            <button class="faqbtn">FAQ</button>
                        </a>
                    </div>
                </div>

                <div class="col supportnum col-sm-2 float-right " style="position:relative">
                    <div class="sptnumbox">
                        <p>Soutien: 99 99 999 999</p>
                    </div>
                </div>
            </div>
        </div>

    </div>