<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Fenêtre Pop-up</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="search-boxnw">
          <input type="text" class="search-inpnw" />
          <button><i class="fas fa-search"></i></button>
        </div>
        <br />
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nom</th>
              <th scope="col">Téléphone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>

            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>

            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45</td>
            </tr>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn" /></th>
              <td>Grossiste COPHAMET</td>
              <td>15 52 41 47 45 / 45 24 75 45 12</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="annuler-btn special-red">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="container pop-box1">
  <!-- The Modal -->
  <div class="modal" id="myModal6">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
            ASPIRINE VITAMINEE CO 330MG /200MG B20 COMP EFFER
          </h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col col-4">Calcul automatique</div>
            <div class="col">
              <input type="checkbox" class="checkbox-nw" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">PPH</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col col-4">PPH</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">Zone</div>
            <div class="col">
              <div class="dropdown dropdown1 show">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Aucun
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Comprimés</a>
                  <a class="dropdown-item" href="#">Aucun</a>
                </div>
              </div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col col-4">Stock min</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">Stock max</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">Date de péremption</div>
            <div class="col">
              <input type="date" />
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="annuler-btn">Page produit</button>
          <button type="button" class="annuler-btn">Sauvegarder</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pop-box1">
  <!-- The Modal -->
  <div class="modal" id="myModal7">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
            ASPIRINE VITAMINEE CO 330MG /200MG B20 COMP EFFER
          </h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col col-4">Calcul automatique</div>
            <div class="col">
              <input type="checkbox" class="checkbox-nw" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">PPH</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col col-4">PPH</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">Zone</div>
            <div class="col">
              <div class="dropdown dropdown1 show">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Aucun
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Comprimés</a>
                  <a class="dropdown-item" href="#">Aucun</a>
                </div>
              </div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col col-4">Stock min</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">Stock max</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">Date de péremption</div>
            <div class="col">
              <input type="date" />
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="annuler-btn">Page produit</button>
          <button type="button" class="annuler-btn">Sauvegarder</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container pop-box1">
  <!-- The Modal -->
  <div class="modal" id="myModal8">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
            ASPIRINE VITAMINEE CO 330MG /200MG B20 COMP EFFER
          </h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col col-4">Calcul automatique</div>
            <div class="col">
              <input type="checkbox" class="checkbox-nw" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">PPH</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col col-4">PPH</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">Zone</div>
            <div class="col">
              <div class="dropdown dropdown1 show">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Aucun
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Comprimés</a>
                  <a class="dropdown-item" href="#">Aucun</a>
                </div>
              </div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col col-4">Stock min</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">Stock max</div>
            <div class="col">
              <input type="number" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col col-4">Date de péremption</div>
            <div class="col">
              <input type="date" />
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="annuler-btn">Page produit</button>
          <button type="button" class="annuler-btn">Sauvegarder</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content holder -->
<form
  class="client-form"
  id="inventory-form"
  [formGroup]="addInventoryForm"
  (ngSubmit)="submitForm()"
>
<div class="p-51"></div>
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button
    id="sidebarCollapse"
    type="button"
    class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"
  >
    <i class="fa fa-bars mr-2"></i>
  </button>

  <div class="container-fluid">
    <div class="row">
      <div class="col-10 page-head col-md-9">
        <h2>Modifier inventaire</h2>
      </div>

      <div class="col col-2 col-md-1 cmnpad">
        <div class="dropdown show dropright">
          <a
            class="btn btn-secondary dropdown-toggle bell-icon-dd"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="../../assets/images/Icons/bell.png"
              alt="Notification"
              class="bell-icon"
            />
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>

      <div class="col col-12 buttons-aic col-md-2 cmnpad">
        <div class="box1 boxes12">Sauvegarder</div>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col col-md-6">
        <div class="row">
          <div class="col">
            <div class="cus-search-bar10">
              <div class="row">
                <div class="col-2 col-md-1 col">
                  <div class="customer-icon">
                    <i class="fas fa-user-circle"></i>
                  </div>
                </div>

                <div class="col-10 col col-md-2 customer-col">
                  <span class="customer-tag align-middle"> Commentaire </span>
                </div>

                <div class="col-12 col-md-9 justify-content-end">
                  <div class="box544">
                    <input
                      type="text"
                      data-toggle="modal"
                      data-target="#myModal"
                    />
                    <button class="searchbtn nw-btn-color10">
                      <i class="fas fa-search"></i>
                    </button>
                    <button class="crossbtn nw-btn-color10">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <div class="creat-box">
              <div class="row">
                <div class="col col-sm-3">
                  <div class="Sub-Head">DCI</div>
                  <ng-select
                    [ngClass]="'overFlowSelect'"
                    [clearable]="true"
                    [items]="dcis"
                    bindValue="value"
                    bindtext="label"
                    name="dci"
                    formControlName="dci"
                    [placeholder]="'DCI'"
                    [virtualScroll]="true"
                    [appendTo]="'body'"
                    required
                  >
                  </ng-select>
                </div>

                <div class="col">
                  <div class="Sub-Head">Name Or Barcode</div>
                  <input type="text" formControlName="barCode" />
                </div>
              </div>

              <div class="row row-top-mar">
                <div class="col-6 col-md-3">
                  <div class="Sub-Head">Contient</div>
                  <ng-select
                    [ngClass]="'overFlowSelect'"
                    [clearable]="true"
                    [items]="containslst"
                    bindValue="value"
                    bindtext="label"
                    name="contains"
                    formControlName="contains"
                    [placeholder]="'Contient'"
                    [virtualScroll]="true"
                    [appendTo]="'body'"
                    required
                  >
                  </ng-select>
                </div>

                <div class="col-6 col-md-3">
                  <div class="Sub-Head">Nom</div>
                  <input type="text" formControlName="name" />
                </div>

                <div class="col-6 col-md-2">
                  <div class="Sub-Head">PPV</div>
                  <input type="text" formControlName="totalPPV" />
                </div>

                <div class="col-6 col-md-2 mar-top-res">
                  <div class="Sub-Head">Zone</div>
                  <ng-select
                    [ngClass]="'overFlowSelect'"
                    [clearable]="true"
                    [items]="zones"
                    bindValue="value"
                    bindtext="label"
                    name="zone"
                    formControlName="zone"
                    [placeholder]="'Zone'"
                    [virtualScroll]="true"
                    [appendTo]="'body'"
                    required
                  >
                  </ng-select>
                </div>
              </div>

              <div class="row row-top-mar">
                <div class="col">
                  <button class="etr-btn">Entrer</button>
                </div>
              </div>
              <br />
              <hr />

              <div class="row">
                <div class="col">
                  <div class="invoice-table">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Nom</th>
                          <th scope="col">Forme</th>
                          <th scope="col">PPV</th>
                          <th scope="col">Zoned</th>
                          <th scope="col">Disp.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of addEditInventory?.products">
                          <td>{{item.name}}</td>
                          <td>{{item.form}}</td>
                          <td>{{item.ppv}}</td>
                          <td class="active-sign">
                            <span class="active-Y">Oui</span>
                          </td>
                          <td class="neg-disp-sign">
                            <span class="neg-disp"> -1</span>
                          </td>
                          <td
                            class="balance-edit"
                            data-toggle="modal"
                            data-target="#myModal6"
                          >
                            <i class="fas fa-pen"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <div class="creat-box">
              <div class="row">
                <div class="col">
                  <div class="Afficher-filt">
                    Afficher uniquement les produits utilisés :
                  </div>
                  <input type="checkbox" class="checkbox-nw" />
                </div>

                <div class="col col-12 col-md-6">
                  <div class="page-num-cont">
                    <a href="#" class="page-num-link"
                      ><span class="back-arrw page-count"
                        ><i class="fas fa-chevron-left"></i></span
                    ></a>
                    <a href="#" class="page-num-link"
                      ><span class="one-arrw page-count active-page">1</span></a
                    >
                    <a href="#" class="page-num-link"
                      ><span class="two-arrw page-count">2</span></a
                    >
                    <a href="#" class="page-num-link"
                      ><span class="page-dots">...</span></a
                    >
                    <a href="#" class="page-num-link"
                      ><span class="three-arrw page-count">24</span></a
                    >
                    <a href="#" class="page-num-link"
                      ><span class="for-arrw page-count"
                        ><i class="fas fa-chevron-right"></i></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-md-6">
        <div class="row">
          <div class="col">
            <div class="cus-search-bar10">
              <div class="Sub-Head">Date</div>
              <input type="text" formControlName="date" />
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <div class="creat-box">
              <div class="row">
                <div class="col col-12 col-md-3">
                  <p>Appliquer à tout :</p>
                </div>
                <div class="col col-12 col-md-3">
                  <div class="Sub-Head">Zoné</div>
                  <ng-select
                    [ngClass]="'overFlowSelect'"
                    [clearable]="true"
                    [items]="zones"
                    bindValue="value"
                    bindtext="label"
                    name="zone"
                    formControlName="zone"
                    [placeholder]="'Zone'"
                    [virtualScroll]="true"
                    [appendTo]="'body'"
                    required
                  >
                  </ng-select>
                </div>
                <div class="col col-12 col-md-3">
                  <div class="Sub-Head">Sock Min</div>
                  <input type="text" />
                </div>
                <div class="col col-12 col-md-3">
                  <div class="Sub-Head">Stock Max</div>
                  <input type="text" />
                </div>
              </div>
              <br />

              <hr />
              <div class="row">
                <div class="col">
                  <div class="invoice-table">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Produit</th>
                          <th scope="col">PPV</th>
                          <th scope="col">Stocks</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let item of addEditInventory?.products">
                        <tr class="edit-menuRW edit-menuRW1" (click)="item.opened = !item.opened">
                          <td>{{item.id}}</td>
                          <td>{{item.name}}</td>
                          <td>{{item.ppv}}</td>
                          <td>{{item.stocks}}</td>
                          <td>
                            <div
                              class="edit-btn"
                              data-toggle="modal"
                              data-target="#myModal6"
                            >
                              <i class="fas fa-pen"></i>
                            </div>
                          </td>
                          <td>
                            <div class="cross-btn">
                              <i class="fas fa-times"></i>
                            </div>
                          </td>
                        </tr>

                        <tr class="edit-menuNW1" *ngIf="item.opened">
                          <td colspan="10">
                            <table class="table table-striped">
                              <tbody class="tbody-inp">
                                <tr>
                                  <td colspan="10">
                                    <div class="rem-edit rem-edit1">
                                      <div class="cross-btn rem-edit-child">
                                        <i class="fas fa-times" (click)="item.opened = !item.opened"></i>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <span>Quantité en stock </span
                                    ><input type="number" />
                                  </td>
                                  <td>
                                    <span>Quantité réelle</span
                                    ><input type="number" />
                                  </td>
                                  <td>
                                    <span>Date de péremption</span
                                    ><input type="Date" />
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <span>Stock min</span
                                    ><input type="number" />
                                  </td>
                                  <td>
                                    <span>Stock max</span
                                    ><input type="number" />
                                  </td>

                                  <td>
                                    <span> Zone</span>

                                    <div class="dropdown dropdown1 show">
                                      <a
                                        class="btn btn-secondary dropdown-toggle"
                                        href="#"
                                        role="button"
                                        id="dropdownMenuLink"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                      >
                                        Aucun
                                      </a>

                                      <div
                                        class="dropdown-menu"
                                        aria-labelledby="dropdownMenuLink"
                                      >
                                        <a class="dropdown-item" href="#"
                                          >comprimés</a
                                        >
                                        <a class="dropdown-item" href="#"
                                          >Aucun</a
                                        >
                                      </div>
                                    </div>
                                  </td>
                                </tr>

                                <tr>
                                  <td colspan="10 ">
                                    <button class="etr-btn">Entrer</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

<br />

<div class="container-fluid">
  <div class="clear-fix">
    <div class="row justify-content-end">
      <div class="col faq col-sm-1">
        <div class="faqbox">
          <a href="#">
            <button class="faqbtn">FAQ</button>
          </a>
        </div>
      </div>

      <div
        class="col supportnum col-sm-2 float-right"
        style="position: relative"
      >
        <div class="sptnumbox">
          <p>Soutien : 99 99 999 999</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<!-- End demo content -->
