<!-- Page content holder -->
<div class="p-51"></div>
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button
    id="sidebarCollapse"
    type="button"
    class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"
  >
    <i class="fa fa-bars mr-2"></i>
  </button>

  <div class="container-fluid">
    <div class="row">
      <div class="col col-sm-2">
        <div class="patient-name-cont">
          <div class="row">
            <div class="col">
              <div class="bar-head">
                <div class="card-head pat-head">Suggestion de fournisseur</div>
              </div>
            </div>
          </div>

          <br />

          <div class="dropdown show">
            <a
              class="btn btn-secondary dropdown-toggle filter-btn"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Filtre
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>

          <br />

          <div class="row" *ngFor="let item of lstSuplier" (click)="viewSuplier(item.id)" style="cursor: pointer;">
            <div class="col">
              <div class="patient-name">
                <span>
                  {{ item.name }}
                </span>
              </div>
            </div>

            <div class="col justify-content-end col-sm-1">
              <div class="patient-name">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class="page-num-nw">
          <div *ngIf="pagination" class="mt-1">
            <app-pagination
              [pagination]="pagination"
              (pageNumberChanged)="loadLst($event)"
            ></app-pagination>
          </div>
        </div>

        <br />

        <div class="page-num-nw">
          <div class="row">
            <div class="col col-12">
              <Input value="10" type="number" />
            </div>
          </div>
          <div class="row">
            <div class="col col-12">
              <button class="enter-btn-nw">Enter</button>
            </div>
          </div>
        </div>

        <br />

        <div class="page-num-nw">
          <div class="row">
            <div class="col col-12">
              <Input type="text" placeholder="Search Page" />
            </div>
          </div>
          <div class="row">
            <div class="col col-12">
              <button class="enter-btn-nw">Enter</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-md-7">
        <div class="row">
          <div class="col page-head col-md-11">
            <h2>{{suplier?.name}}</h2>
          </div>

          <div class="col col-2 col-md-1 cmnpad">
            <div class="dropdown show dropright">
              <a
                class="btn btn-secondary dropdown-toggle bell-icon-dd"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  src="../../assets/images/Icons/bell.png"
                  alt="Notification"
                  class="bell-icon"
                />
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col">
            <div class="general-info">
              <div class="row">
                <div class="col">
                  <div class="general-info-title card-head">
                    Informations générales
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col col-12 col-sm-2 id-pic-column">
                  <div class="id-pic"></div>
                </div>

                <div class="col">
                  <div class="row">
                    <div class="col col-12 col-md-6">
                      <div class="name all-tags">
                        <span class="name-tag tags">Nom :</span>
                        <span class="id-name">{{suplier?.name}}</span>
                      </div>
                    </div>
                    <div class="col col-12 col-md-6">
                      <div class="phone-num all-tags">
                        <span class="phone-tag tags">Téléphone :</span>
                        <span class="id-num">{{suplier?.phone}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col col-12 col-md-6">
                      <div class="cin all-tags">
                        <span class="cin-tag tags">E-mail : </span>
                        <span class="id-cin">{{suplier?.email}} </span>
                      </div>
                    </div>
                    <div class="col col-12 col-md-6">
                      <div class="email all-tags">
                        <span class="email-tag tags">Statut : </span>
                        <span class="id-email">En attente</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col">
            <div class="general-info">
              <div class="row">
                <div class="col">
                  <div class="general-info-title card-head">Détails</div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="sub-head1">Informations générales</div>
                  <hr />
                  <div class="row">
                    <div class="col col-12 col-md-6">
                      <div class="all-tags">
                        <span class="tags">Nom :</span>
                        <span class="prop">{{suplier?.name}}</span>
                      </div>
                    </div>
                    <div class="col col-12 col-md-6">
                      <div class="all-tags">
                        <span class="tags">E-mail :</span>
                        <span class="prop">{{suplier?.email}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col col-12 col-md-6">
                      <div class="all-tags">
                        <span class="tags">Téléphone : </span>
                        <span class="prop">{{suplier?.phone}}</span>
                      </div>
                    </div>
                    <div class="col col-12 col-md-6">
                      <div class="all-tags">
                        <span class="tags">Fax : </span>
                        <span class="prop">{{suplier?.fax}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col col-12 col-md-6">
                      <div class="all-tags">
                        <span class="tags">Site internet : </span>
                        <span class="prop">{{suplier?.internetSite}} </span>
                      </div>
                    </div>
                  </div>

                  <br />

                  <div class="sub-head1">Adresse</div>
                  <hr />
                  <div class="row">
                    <div class="col col-12 col-md-6">
                      <div class="all-tags">
                        <span class="tags">Adresse :</span>
                        <span class="prop">{{suplier?.address}}</span>
                      </div>
                    </div>
                    <div class="col col-12 col-md-6">
                      <div class="all-tags">
                        <span class="tags">Ville :</span>
                        <span class="prop">{{suplier?.city}}</span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col col-12 col-md-6">
                      <div class="all-tags">
                        <span class="tags">Postal Code : </span>
                        <span class="prop">{{suplier?.zipCode}} </span>
                      </div>
                    </div>
                    <div class="col col-12 col-md-6">
                      <div class="all-tags">
                        <span class="tags">De campagne : </span>
                        <span class="prop">Morroco</span>
                      </div>
                    </div>
                  </div>

                  <br />
                  <div class="sub-head1">Informations descriptives</div>
                  <hr />

                  <div class="row">
                    <div class="col col-12 col-md-6">
                      <div class="all-tags">
                        <span class="tags">Description :</span>
                        <span class="prop">{{suplier?.description}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>

      <div class="col col-md-3">
        <div class="row">
          <div class="col">
            <div class="Trace-info-box">
              <div class="row">
                <div class="col">
                  <p class="Trace-info-title">Informations de traçabilité</p>
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col col-md-5">Créé par</div>
                <div class="col">GHALMANE MOHAMED</div>
              </div>

              <hr />

              <div class="row">
                <div class="col col-md-5">Créé le</div>
                <div class="col">2021-02-12 15:43:22</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container-fluid">
  <div class="clear-fix">
    <div class="row justify-content-end">
      <div class="col faq col-sm-1">
        <div class="faqbox">
          <a href="#">
            <button class="faqbtn">FAQ</button>
          </a>
        </div>
      </div>

      <div
        class="col supportnum col-sm-2 float-right"
        style="position: relative"
      >
        <div class="sptnumbox">
          <p>Soutien: 99 99 999 999</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<!-- End demo content -->
