<!-- Page content holder -->
<div class="p-51"></div>
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i></button>

  <div class="container-fluid">
    <div class="row">
        <div class="col col-md-2  col-12" >
        
          
            <div class="patient-name-cont">


            

                <div class="row">
                    <div class="col">
                        <div class="bar-head">
                            <div class="card-head pat-head">
                                Clients
                            </div>
                        </div>
                        
                   
                    </div> 
                </div>
                    
                    <br>

                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle filter-btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filtre
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>

                      <br>

                    <div class="row" *ngFor="let client of lstClient" [routerLink]="['/view-client', client.id]">
                        <div class="col">
                            <div class="patient-name ">
                                <span>
                                   {{client.lastName}}
                                </span>
                            </div>
                        </div>
                        <div class="col justify-content-end col-sm-1">
                            <div class="patient-name">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
            </div>
            <br> 
            <div *ngIf="pagination" class="page-num-nw">
                <app-pagination
                  [pagination]="pagination"
                  (pageNumberChanged)="loadLst($event)"
                ></app-pagination>
              </div>

            <!-- <div class=" page-num-nw">
                <a href=""><span><i class="fas fa-arrow-left"></i></span></a>
                <a href=""><span class="active-page4">1</span></a>
                <a href=""><span>2</span></a>
                <a href="" ><span class="dots-new">...</span></a>
                <a href=""><span>15</span></a>
                <a href=""><span><i class="fas fa-arrow-right"></i></span></a>
            </div> -->

            <br>
            <div class=" page-num-nw">
                <div class="row">
                    <div class="col col-12">
                        <input value="10" type="number" />
                    </div>       
                </div>
                <div class="row">
                    <div class="col col-12">
                        <button class="enter-btn-nw">Enter</button>
                    </div>
                </div>
            </div>       
            <br>
            <div class=" page-num-nw">
                <div class="row">
                    <div class="col col-12">
                        <input  type="text" placeholder="Search Page" />
                    </div>       
                </div>
                <div class="row">
                    <div class="col col-12">
                        <button class="enter-btn-nw">Enter</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-7 col-12">
            <br class="br545sas">
            <div class="row">
    

                <div class="col page-head col-md-7">
                    <h2>Mark </h2>
                </div>
          
                <div class=" col col-2 col-md-1 cmnpad" >
                  <div class="dropdown show dropright ">
                    <a class="btn btn-secondary dropdown-toggle bell-icon-dd" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="../../../assets/Icons/bell.png" alt="Notification" class="bell-icon">
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>

                <div class="col-12  col card-box-nw-col">
                    <div class="card-box-nw-1212">
                       
                        <div class="row">
            
                            <div class="col">
                                <div class=" card assets-box assets-box1">            
                                    <div class="row">
                                        <div class="col">
                                            <p class="assets-title cards-title">
                                                Actifs
                                            </p>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col">
                                            <p class="assets-num card-num">
                                                145 DHS
                                            </p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <p class="assests-remark card-remark">
                                                Y compris un crédit de : 0 DHS
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br class="br545sas">
                        <div class="row">
            
                            <div class="col">
                                <div class=" card unpaid-box unpaid-box1">
            
                                    <div class="row">
                                        <div class="col">
                                            <p class="unpaid-title cards-title">
                                                Total impayé
                                            </p>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col">
                                            <p class="unpaid-num card-num">
                                                97.20 DHS
                                            </p>
                                        </div>
                                    </div>
            
                                    <div class="row">
                                        <div class="col">
                                            <p class="unpaid-remark card-remark">
                                                Y compris un crédit de : 0 DHS
                                            </p>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                        <br class="br545sas">
                    </div>
                </div>

                <div class=" col col-12 buttons-aic col-lr-1 col-md-2 col-sm-3 cmnpad">
                    <div class="box1 boxes12 special-red"> 
                        Archiver
                    </div>
                </div>
          
                <div class=" col col-12 col-lr-1 buttons-aic col-md-2 col-sm-3 cmnpad">
                    <div class="creer">
                        <a href="#">
                            <button class="creerbtn">
                                Éditer
                            </button>
                        </a>
                    </div>
                </div>
               
            </div>

            <br>
            <div class="row justify-content-end">

              
                <div class=" col col-12 buttons-aic col-lr-1 col-md-4 col-sm-3 cmnpad">
                    <div class="box1 boxes12"> 
                        Imprimer la déclaration
                    </div>
                </div>
                <div class=" col col-12 buttons-aic col-lr-1 col-md-3 col-sm-3 cmnpad">
                    <div class="box1 boxes12"> 
                        Payer le client
                    </div>
                </div>
                <div class=" col col-12 buttons-aic col-lr-1 col-md-4 col-sm-3 cmnpad">
                    <div class="box1 boxes12"> 
                        Payer la vente ouverte
                    </div>
                </div>
                
          
               
          
            </div>
            <br>

            <div class="row">
                <div class="col ">
                    <div class="general-info">

                        <div class="row">
                            <div class="col">
                                <div class="general-info-title card-head">
                                    Informations générales
                                </div>
                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-12 col-sm-2 id-pic-column">
                                <div class="id-pic">

                                </div>
                            </div>

                            <div class="col">
                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="name all-tags">
                                            <span class="name-tag tags">Nom :</span>
                                            <span class="id-name">{{addEditClientDto?.lastName}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="phone-num all-tags">
                                            <span class="phone-tag tags">Téléphone :</span>
                                            <span class="id-num ">{{addEditClientDto?.phone}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="cin all-tags">
                                            <span class="cin-tag tags">CIN : </span>
                                            <span class="id-cin">{{addEditClientDto?.cin}} </span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="email all-tags">
                                            <span class="email-tag tags">Email : </span>
                                            <span class="id-email">{{addEditClientDto?.email}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="cnss all-tags">
                                            <span class="cnss-tag tags">CNSS : </span>
                                            <span class="id-cnss">{{addEditClientDto?.cnss}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <br>

            <div class="row">
                <div class="col ">
                    <div class="general-info">

                        <div class="row">
                            <div class="col">
                                <div class="general-info-title card-head">
                                    Des détails
                                </div>
                               
                            </div>
                        </div>
                        
                            <div class="row">
                                 <div class="col">

                                    <div class="sub-head1">
                                        Informations générales
                                    </div>
                                         <hr>
                                    <div class="row">
                                        <div class="col col-12 col-md-6">
                                            <div class="all-tags">
                                                <span class="tags">Directeur :</span>
                                                <span class="prop">naaima naaima</span>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-6">
                                            <div class="all-tags">
                                                <span class="tags">Nom :</span>
                                                <span class="prop">{{addEditClientDto?.lastName}}</span>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col col-12 col-md-6">
                                            <div class="all-tags">
                                                <span class="tags">Taper : </span>
                                                <span class="prop">{{addEditClientDto?.type}}</span>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-6">
                                            <div class="all-tags">
                                                <span class="tags">CIN : </span>
                                                <span class="prop">{{addEditClientDto?.cin}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-12 col-md-6">
                                            <div class="all-tags">
                                                <span class="tags">CNSS : </span>
                                                <span class="prop">{{addEditClientDto?.cnss}} </span>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-6">
                                            <div class="all-tags">
                                                <span class="tags">Email : </span>
                                                <span class="prop">{{addEditClientDto?.email}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-12 col-md-6">
                                            <div class="all-tags">
                                                <span class="tags">Téléphone : </span>
                                                <span class="prop">{{addEditClientDto?.phone}}</span>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-md-6">
                                            <div class="all-tags">
                                                <span class="tags">Limite de crédit : </span>
                                                <span class="prop">{{addEditClientDto?.creditLimit}}</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col col-12 col-md-6">
                                            <div class="all-tags">
                                                <span class="tags">Docteur : </span>
                                                <span class="prop">NIL </span>
                                            </div>
                                        </div>
                                      
                                    </div>

                                    <br>


                                <div class="sub-head1">
                                    Adresse
                                </div>
                                     <hr>
                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Adresse :</span>
                                            <span class="prop">{{addEditClientDto?.address}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Ville :</span>
                                            <span class="prop">{{addEditClientDto?.city}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Postal Code : </span>
                                            <span class="prop">{{addEditClientDto?.postalCode}} </span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">De campagne : </span>
                                            <span class="prop">{{addEditClientDto?.country?.name}}</span>
                                        </div>
                                    </div>
                                </div>

                                <br>

                                <div class="sub-head1">
                                    nformations sur l'organisation
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Organisation :</span>
                                            <span class="prop">{{addEditClientDto?.organization?.name}}</span>
                                        </div>
                                    </div>
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Inscription No. :</span>
                                            <span class="prop">yyyy</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Affilier No.: </span>
                                            <span class="prop">{{addEditClientDto?.affiliateNumber}} </span>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <div class="sub-head1">
                                    Informations descriptives
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col col-12 col-md-6">
                                        <div class="all-tags">
                                            <span class="tags">Description :</span>
                                            <span class="prop">{{addEditClientDto?.description}}</span>
                                        </div>
                                    </div>
                                </div>

                                


                            </div>
                            </div>
                           
                        </div>
                    </div>




                </div>

                <br>

                <div class="row">
                    <div class="col  " >
                        <div class="pro-his">

                            <div class="row justify-content-end">
                                <div class="col col-12 col-md-4">
                                  <div class="search-box">
                                    <input type="text" placeholder="Type to search..">
                                    <div class="search-icon searchbtn ">
                                      <i class="fas fa-search"></i>
                                    </div>
                              <div class="cancel-icon crossbtn">
                                      <i class="fas fa-times"></i>
                                    </div>
                              <div class="search-data">
                              </div>
                              </div>
                                </div>
                              </div>
                      
                              <div class="row search-row" >
                                <div class="col">
                                  <table class="table">
                                    <tbody>
                                      <td><input type="text" placeholder="Date & Time"></td>
                                      <td><div class="dropdown dropdown1 show dropright ">
                                        <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Taper
                                        </a>
                                      
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                          <a class="dropdown-item" href="#">Non</a>
                                          <a class="dropdown-item" href="#">Sale</a>
                                          <a class="dropdown-item" href="#">Retour en vente</a>
                                          <a class="dropdown-item" href="#">Bon de commande</a>
                                          <a class="dropdown-item" href="#">Supplier Credit Notes Issued</a>
                                          <a class="dropdown-item" href="#">Ont reçu la mendicité</a>
                                          <a class="dropdown-item" href="#">Ajustement des stocks</a>
                                          <a class="dropdown-item" href="#">Inventaire</a>
                                          <a class="dropdown-item" href="#">Importer à partir du stock</a>
                                          <a class="dropdown-item" href="#">Sortie des collègues</a>
                                          <a class="dropdown-item" href="#">Collègue d'entrée</a>
                                          <a class="dropdown-item" href="#">Preparation</a>





                                        </div>
                                      </div></td>
                                      <td><input type="text" placeholder="Product"></td>
                                      <td><input type="text" placeholder="Amount"></td>
                                      <td><input type="text" placeholder="Stock After Transaction"></td>
                                      <td><button><i class="fas fa-search"></i></button></td>
                                    </tbody>
                                  </table>
                                </div>
                              </div>

                            <div class="row">
                                <div class="col">
                                    <div class="pro-his-title card-head">
                                        Histoire du produit

                                    </div>
                                </div>
                            </div>

                           


                            <div class="row">
                                <div class="col">
                                    <div class="invoice-table">
                                         <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Taper</th>
                                            <th scope="col">Produit</th>
                                            <th scope="col">Montant</th>
                                            <th scope="col">Stock après transaction</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">2021-02-2 15:43:30</th>
                                            <td>Sale</td>
                                            <td>METEOSPASMYL CO B20 CAPSULES	</td>
                                            <td>-1</td>
                                            <td>0</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2021-02-2 15:43:30</th>
                                            <td>Sale</td>
                                            <td>IMODIUM CO 2MG B20 CAPSULES	</td>
                                            <td>-1</td>
                                            <td>0</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">32021-02-2 15:43:30</th>
                                            <td>Sale</td>
                                            <td>AUGMENTIN ST 1G B12 BAG	</td>
                                            <td>-1</td>
                                            <td>0</td>
                                          </tr>
                                        </tbody>
                                      </table>

                                    </div>
                                   


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col " >
                        <div class="pro-his">

                        <div class="row justify-content-end">
                            <div class="col col-12 col-md-4">
                                <div class=" search-box2">
                                  <input type="text" placeholder="Search.." class="input2">
                                  <div class=" search-icon2 searchbtn ">
                                    <i class="fas fa-search"></i>
                                  </div>
                            <div class=" cancel-icon2  crossbtn">
                                    <i class="fas fa-times"></i>
                                  </div>
                            <div class="search-data2 ">
                            </div>
                            </div>
                              </div>
                                                    </div>

                            
                            <div class="row search-row2" >
                                <div class="col">
                                    <table class="table">
                                    <tbody>                                        <td><div class="dropdown dropdown1 show dropright ">
                                        <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Taper
                                        </a>
                                        
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Non</a>
                                            <a class="dropdown-item" href="#">Client</a>
                                            <a class="dropdown-item" href="#">À mendier</a>
                                            <a class="dropdown-item" href="#">Collègue</a>
                                            <a class="dropdown-item" href="#">Contacter</a>
                                            <a class="dropdown-item" href="#">Docteur</a>
                                            <a class="dropdown-item" href="#">Produit</a>
                                            <a class="dropdown-item" href="#">Générique</a>
                                            <a class="dropdown-item" href="#">Facture d'achat</a>
                                            <a class="dropdown-item" href="#">Paiement des factures</a>
                                            <a class="dropdown-item" href="#">Note de crédit client
                                            </a>
                                            <a class="dropdown-item" href="#">Paiement client
                                            </a>
                                            <a class="dropdown-item" href="#">Retour des ventes
                                            </a>
                                            <a class="dropdown-item" href="#">Impôt </a>
                                            <a class="dropdown-item" href="#"> méthodes de payement
                                            </a>
                                            <a class="dropdown-item" href="#">Raison du retour
                                            </a>
                                            <a class="dropdown-item" href="#">Bon de commande
                                            </a>
                                            <a class="dropdown-item" href="#">Bon de livraison
                                            </a>
                                            <a class="dropdown-item" href="#">Paiement du bon de livraison</a>
                                            <a class="dropdown-item" href="#">Retour d'achat émis
                                            </a>
                                            <a class="dropdown-item" href="#"> Retour des achats
                                            </a>
                                            <a class="dropdown-item" href="#"> Citation</a>
                                            <a class="dropdown-item" href="#"> Vente de collègues
                                            </a>
                                            <a class="dropdown-item" href="#"> Achats de collègues
                                            </a>
                                            <a class="dropdown-item" href="#"> Paiement entrant d'un collègue
                                            </a>
                                            <a class="dropdown-item" href="#"> Ajustement des stocks
                                            </a>
                                            <a class="dropdown-item" href="#"> Prise d'inventaire
                                            </a>
                                            <a class="dropdown-item" href="#"> Importation de stock
                                            </a>
                                            <a class="dropdown-item" href="#"> Raison de l'ajustement</a>
                                            <a class="dropdown-item" href="#"> Préparation</a>





                                        </div>
                                        </div></td>
                                        <td><input type="text" placeholder="Date"></td>
                                        <td><input type="text" placeholder="Amount"></td>
                                        <td><input type="text" placeholder="Means Of Payment"></td>
                                        <td><button><i class="fas fa-search"></i></button></td>
                                    </tbody>
                                    </table>
                                </div>
                                </div>



                            <div class="row">
                                <div class="col">
                                    <div class="pro-his-title card-head">
                                        Historique de paiement

                                    </div>
                                </div>
                            </div>

                            


                            <div class="row">
                                <div class="col">
                                    <div class="invoice-table">
                                         <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th scope="col">Taper</th>
                                            <th scope="col">Dated</th>
                                            <th scope="col">Montant</th>
                                            <th scope="col">Stock après transaction</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Type de vente</td>
                                            <td>2021-02-24	</td>
                                            <td>100</td>
                                            <td>Espèce</td>
                                          </tr>
                                        </tbody>
                                      </table>

                                    </div>
                                   


                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">  
                    <div class="col " >
                        <div class="pro-his">

                        <div class="row justify-content-end">
                            <div class="col col-12 col-md-4">
                                <div class="search-box3">
                                  <input type="text" placeholder="Search.." class="input3">
                                  <div class="search-icon3 searchbtn ">
                                    <i class="fas fa-search"></i>
                                  </div>
                            <div class="cancel-icon3 crossbtn">
                                    <i class="fas fa-times"></i>
                                  </div>
                            <div class="search-data3">
                            </div>
                            </div>
                              </div>
                                                    </div>


                                                    <div class="row search-row3" >
                                                        <div class="col">
                                                          <table class="table">
                                                            <tbody>
                                                              <td><input type="text" placeholder="Transaction Numbr"></td>
                                                              <td><div class="dropdown dropdown1 show dropright ">
                                                                <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                  Taper
                                                                </a>
                                                              
                                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                  <a class="dropdown-item" href="#">Date</a>
                                                                  <a class="dropdown-item" href="#">Client régulier</a>
                                                                  <a class="dropdown-item" href="#">Client passager</a>
                                                                  <a class="dropdown-item" href="#">Pharmacie</a>
                                                                </div>
                                                              </div></td>
                                                              <td><input type="text" placeholder="Date"></td>
                                                              <td><input type="text" placeholder="Total"></td>
                                                             
                                                            
                                                                <td><div class="dropdown dropdown1 show dropright ">
                                                                    <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Livraison
                                                                    </a>
                                                                  
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                      <a class="dropdown-item" href="#">Oui</a>
                                                                      <a class="dropdown-item" href="#">Non</a>
                                                                     
                                                                    </div>
                                                                  </div></td>

                                                                  <td><div class="dropdown dropdown1 show dropright ">
                                                                    <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        Statut
                                                                    </a>
                                                                  
                                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                                      <a class="dropdown-item" href="#">Complété</a>
                                                                      <a class="dropdown-item" href="#">Non payé</a>
                                                                     
                                                                    </div>
                                                                  </div></td>
                                                             
                                                              
                                                              <td><button><i class="fas fa-search"></i></button></td>
                                                            </tbody>
                                                          </table>
                                                        </div>
                                                      </div>

                            <div class="row">
                                <div class="col">
                                    <div class="pro-his-title card-head">
                                        Sale
                                    </div>
                                </div>
                            </div>

                           

                            <div class="row">
                                <div class="col">
                                    <div class="invoice-table">
                                         <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th scope="col">Transaction Numbr</th>
                                            <th scope="col">Date of sale</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Livré</th>
                                            <th scope="col">Statut</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>FAC-10140</td>
                                            <td>2021-02-24	</td>
                                            <td>197.2</td>
                                            <td><div class="dilvered-Y">Oui</div></td>
                                            <td><div class="status-pen">Partiellement payé</div></td>
                                          </tr>
                                          <tr>
                                            <td>FAC-10140</td>
                                            <td>2021-02-24	</td>
                                            <td>197.2</td>
                                            <td><div class="dilvered-N">Non</div></td>
                                            <td><div class="status-com">Compléter</div></td>
                                          </tr>
                                          <tr>
                                            <td>FAC-10140</td>
                                            <td>2021-02-24	</td>
                                            <td>197.2</td>
                                            <td><div class="dilvered-Y">Oui</div></td>
                                            <td><div class="status-inc">Incomplet</div></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                   



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>

        <div class="col col-md-3">
         
            <div class="row">

                <div class="col">
                    <div class=" card assets-box">

                        <div class="row">
                            <div class="col">
                                <p class="assets-title cards-title">
                                    Actifs
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p class="assets-num card-num">
                                    145 DHS
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p class="assests-remark card-remark">
                                    Y compris un crédit de : 0 DHS
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
            <br>
            <div class="row">

                <div class="col">
                    <div class=" card unpaid-box">

                        <div class="row">
                            <div class="col">
                                <p class="unpaid-title cards-title">
                                    Total impayé
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p class="unpaid-num card-num">
                                    97.20 DHS
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <p class="unpaid-remark card-remark">
                                    Y compris un crédit de : 0 DHS
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
            <br>
          

        
            <div class="row">
                <div class="col">
                    <div class="srtcutbox">
                        <div class="srtcut">
                                  <h4>Raccourcis</h4>
                                </div>
        
                                <div class="srtcutlinks">
                                  <ul>
                                    <li>
                                      
                                      <a href="#"> <span>Créer un nouveau contact</span>  </a>
                                    </li>
                                    
                                    <li>
                                      <a href="#">  <span>Créer un nouveau devis</span>  </a>
                                    </li>
                                    <li>
                                      <a href="#">  <span>Créer une nouvelle vente</span> </a>
                                    </li>
        
                                    <li>
                                      <a href="#">  <span> Modifier la remise par défaut</span></a>
                                    </li>
                                    <li>
                                      <a href="#">  <span> Envoyer le crédit à payer par SMS</span> </a>
                                    </li>
                                   
                                  </ul>
                                </div>
        
                </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <div class="Trace-info-box">
                        <div class="row">
                            <div class="col">
                                <p class="Trace-info-title">
                                    Informations de traçabilité

                                </p>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col col-md-5">
                                Créé par

                            </div>
                            <div class="col">
                                {{addEditClientDto?.createdBy?.firstName}}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col col-md-5">
                                Créé sur
                            </div>
                            <div class="col">
                                {{addEditClientDto?.createdDate | date: 'dd-MM-yyyy hh:mm:ss'}}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col col-md-5">
                                Mis à jour par
                            </div>
                            <div class="col">
                                {{addEditClientDto?.modifiedBy?.firstName}}
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col col-md-5">
                                Mise à jour
                            </div>
                            <div class="col">
                                {{addEditClientDto?.modifiedDate | date: 'dd-MM-yyyy hh:mm:ss'}}
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <div class="comments-box">
                        <div class="row">
                            <div class="col">
                                commentaires

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <input type="text" placeholder="Add a comment" class="comment-input">
                            </div>
                            
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <a href="#"><button class="all-comment">Tous les commentaires</button></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


            

            


        </div>    

         



        </div>
    </div>
  </div>



  <br>





  <div class="container-fluid"> 
    <div class="clear-fix">
      <div class="row justify-content-end">

      <div class="col faq col-sm-1  " >
        <div class="faqbox" >
          <a href="#">
            <button class="faqbtn">FAQ</button>
          </a>
        </div>
      </div>

      <div class="col supportnum col-sm-2 float-right " style="position:relative"  >
        <div class="sptnumbox">
          <p>Soutien: 99 99 999 999</p>
        </div>
      </div>
    </div>
    </div>
    
  </div>



