<div class="container">
  <!-- The Modal -->
  <div  >
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Fenêtre Pop-up</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="search-boxnw">
            <input type="text" class="search-inpnw"  [(ngModel)]="searchFields.lastName">
            <button><i class="fas fa-search" (click)="searchCustomersDiloagItems()"></i></button>
          </div>
          <br>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Téléphone</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row"><input type="radio" class="radio-btn"></th>
              <td> Grossiste COPHAMET</td>
              <td></td>
              <td>15 52 41 47 45</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="utitlityService.pagination" class="mt-1">
          <app-pagination
            [pagination]="utitlityService.pagination"
            (pageNumberChanged)="loadLst($event)"
          ></app-pagination>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class=" annuler-btn special-red" (click)="bsModalRef.hide()">Annuler</button>
        </div>

      </div>
    </div>
  </div>
</div>
