<div class="vertical-nav bg-white" id="sidebar" *ngIf="isUserLoggedIn">
  <div class="logo">
    <img src="../../assets/images/logo.png" alt="" />
  </div>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas mr-3 text-primary fa-fw fa-home"></i>
        </a>
      </div>
    </li>
    <li class="nav-item">
      <div class="btn-group dropright" routerLinkActive="bg-active-color">
        <a
          routerLinkActive="bg-active-color"
          href="#"
          class="nav-link text-dark dropdown-toggle bg-active-color"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-address-card mr-3 fa-fw bg-active-color"></i>
        </a>
        <div class="dropdown-menu">
          <a acti routerLink="/client">Clients</a>
          <a href="../Client/Patinet_Page.html">Contacts</a>
        </div>
      </div>
    </li>
    <li class="nav-item" routerLinkActive="bg-active-color">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas mr-3 text-primary fa-fw fa-pills"></i>
        </a>
        <div class="dropdown-menu">
          <a routerLink="/product">Produits</a>
          <a href="../Client/Patinet_Page.html">Suggestions </a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas mr-3 text-primary fa-fw fa-file-export"></i>
        </a>
        <div class="dropdown-menu">
          <a href="../Client/Patinet_Page.html">Ventes</a>
          <a href="../Client/Patinet_Page.html">Devis</a>
          <a href="../Client/Patinet_Page.html">Retours sur ventes</a>
          <a href="../Client/Patinet_Page.html">Générer document</a>
          <a href="../Client/Patinet_Page.html">Reconditionner un produit</a>
          <a href="../Client/Patinet_Page.html">Préparations</a>
        </div>
      </div>
    </li>

    <li class="nav-item">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-file-import mr-3 text-primary fa-fw"></i>
        </a>
        <div class="dropdown-menu">
          <a href="../Client/Patinet_Page.html">Achats</a>
          <a href="../Client/Patinet_Page.html">Offers</a>
          <a href="../Client/Patinet_Page.html">Proposition de commande</a>
          <a href="../Client/Patinet_Page.html">Bons de commande</a>
          <a href="../Client/Patinet_Page.html">Bons de livraisons</a>
          <a href="../Client/Patinet_Page.html">Avoirs fournisseur émis</a>
          <a href="../Client/Patinet_Page.html">Avoirs fournisseurs reçus</a>
          <a href="../Client/Patinet_Page.html">Dépenses</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-truck mr-3 text-primary fa-fw"></i>
        </a>
        <div class="dropdown-menu">
          <a href="../Client/Patinet_Page.html">Fournisseurs</a>
          <a href="../Client/Patinet_Page.html">Suggestions</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-users mr-3 text-primary fa-fw"></i>
        </a>
        <div class="dropdown-menu">
          <a href="../Client/Patinet_Page.html">Confrères</a>
          <a href="../Client/Patinet_Page.html">Sorties confrères</a>
          <a href="../Client/Patinet_Page.html">Entrées confrères</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-city mr-3 text-primary fa-fw"></i>
        </a>
        <div class="dropdown-menu">
          <a href="../Client/Patinet_Page.html">Organismes</a>
          <a href="../Client/Patinet_Page.html">Factures organismes</a>
          <a href="../Client/Patinet_Page.html">Bordereaux d’envoi</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-file-alt mr-3 text-primary fa-fw"></i>
        </a>
        <div class="dropdown-menu">
          <a href="../Client/Patinet_Page.html">Stock</a>
          <a href="../Client/Patinet_Page.html">Inventaires</a>
          <a href="../Client/Patinet_Page.html">Importer stock</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-sliders-h mr-3 text-primary fa-fw"></i>
        </a>
      </div>
    </li>
    <li class="nav-item">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-cog mr-3 text-primary fa-fw"></i>
        </a>
      </div>
    </li>
    <li class="nav-item">
      <div class="btn-group dropright">
        <a
          href="#"
          class="nav-link text-dark dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-power-off mr-3 text-primary fa-fw"></i>
        </a>
      </div>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->
