<!-- Page content holder -->
<div class="p-51"></div>
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
      class="fa fa-bars mr-2"></i></button>

  <div class="container-fluid">

    <div class="row">
      <div class="col page-head col-md-8">
        <h2>Les patients
        </h2>
      </div>

      <!-- <div class=" col col-2 col-sm-1 cmnpad">
        <div class="dropdown show dropright ">
          <a class="btn btn-secondary dropdown-toggle bell-icon-dd" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../assets/images/Icons/bell.png" alt="Notification" class="bell-icon">
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div> -->


      <div class=" col col-12 buttons-aic col-lr-1 col-md-1 col-sm-3 cmnpad">
        <div class="box1 boxes12 special-red">
          Archiver
        </div>
      </div>

      <div class=" col col-12 col-lr-1 buttons-aic col-md-1 col-sm-3 cmnpad">
        <div class="box2 boxes12">
          Importer
        </div>
      </div>

      <div class=" col col-12 col-lr-1 buttons-aic col-md-1 col-sm-3 cmnpad">
        <div class="creer">
          <a href="#">
            <button class="creerbtn" routerLink="/add-client">
              Créer
            </button>
          </a>
        </div>
      </div>


    </div>

    <div class="container-fluid sec-cont">

      <div class="row justify-content-end">
        <div class="col col-12 col-md-4">
          <div class="search-box">
            <input type="text" placeholder="Type to search..">
            <div class="search-icon searchbtn ">
              <i class="fas fa-search"></i>
            </div>
            <div class="cancel-icon crossbtn">
              <i class="fas fa-times"></i>
            </div>
            <div class="search-data">
            </div>
          </div>
        </div>
      </div>

      <div class="row search-row">
        <div class="col">
          <table class="table">
            <tbody>



              <tr>
                <td><input type="text" placeholder="Name"></td>
                <td>
                  <div class="dropdown dropdown1 show dropright ">
                    <a class="btn btn-secondary dropdown-toggle " href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Taper
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Non</a>
                      <a class="dropdown-item" href="#">Client régulier</a>
                      <a class="dropdown-item" href="#">Client passager</a>
                      <a class="dropdown-item" href="#">Pharmacie</a>
                    </div>
                  </div>
                </td>
                <td><input type="text" placeholder="Email"></td>
                <td><input type="text" placeholder="Phone"></td>
              </tr>
              <tr>
                <td><input type="text" placeholder="CIN"></td>
                <td><input type="text" placeholder="CNSS"></td>
                <td><input type="text" placeholder="Balance"></td>
                <td><button><i class="fas fa-search"></i></button></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>



      <div class="row">
        <div class="col">
          <div class="absolute-center" *ngIf="dataLoading">

          </div>

          <div class="table-cont" [style.visibility]="dataLoading ? 'hidden' : 'visible'">
            <div class=" patients-table">
              <table class="table table-striped" mat-table [dataSource]="todoDatasource">

                <ng-container matColumnDef="Nom">
                  <tr>
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                  </tr>
                  <tr>
                    <td mat-cell *matCellDef="let row" style="width:20%"> {{row.lastName}} </td>
                  <tr>
                </ng-container>

                <ng-container matColumnDef="Taper">
                  <thead>
                    <tr>
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Taper </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td mat-cell *matCellDef="let row" style="width:20%"> {{row.type}} </td>
                    <tr>
                  </tbody>
                </ng-container>

                <ng-container matColumnDef="Email">
                  <thead>
                    <tr>
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td mat-cell *matCellDef="let row" style="width:20%"> {{row.email}} </td>
                    <tr>
                  </tbody>
                </ng-container>

                <ng-container matColumnDef="Phone No.">
                  <thead>
                    <tr>
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> Phone No.</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td mat-cell *matCellDef="let row" style="width:20%"> {{row.phone}} </td>
                    <tr>
                  </tbody>
                </ng-container>

                <ng-container matColumnDef="CIN">
                  <thead>
                    <tr>
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> CIN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td mat-cell *matCellDef="let row" style="width:20%"> {{row.cin}} </td>
                    <tr>
                  </tbody>
                </ng-container>

                <ng-container matColumnDef="CNSS">
                  <thead>
                    <tr>
                      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header> CNSS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td mat-cell *matCellDef="let row" style="width:20%"> {{row.cnss}} </td>
                    <tr>
                  </tbody>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              </table>

            </div>
            <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
          </div>


        </div>

      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="clear-fix">
      <div class="row justify-content-end querry-box">
        <div>
          <div class="row">
            <div class="col">
              <div class="faqbox">
                <a href="#">
                  <button class="faqbtn">FAQ</button>
                </a>
              </div>
              <div class="sptnumbox">
                <p>Soutien: 99 99 999 999</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
